[2016-11-12 18:10] dadixon opened #260 "Drawing with mouse movement"
I figured out how to draw lines with mouse movement but have an issue when the mouse leaves that canvas. Everything that I drew disappears. I'm redrawing everything on mouse out so I don't know why it doesn't work.

[code]

[2016-11-13 03:16] caleb531 commented on #260
The reason the lines are disappearing is because they aren't jCanvas layers. In jCanvas, layers and non-layer drawings cannot exist on the same canvas, because when jCanvas clears the canvas to redraw the layers it knows about, the non-layers will be erased. In other words, if you have at least one jCanvas layer on your canvas, then everything else you draw must be a jCanvas layer.

Therefore, you

[2016-11-13 03:46] dadixon commented on #260
That does help. I tried that before but I have another issue when I run with the different layers. On my mouse move, if I draw over another layer, it "hides in the background" kind of. Should I add an index to the layer also?

[2016-11-13 04:00] caleb531 commented on #260
I'm not exactly sure what you mean by the laying "hiding in the background." I don't think you need to set an index, but could you please provide some code to show how you are adding the layer?

[2016-11-13 04:03] dadixon commented on #260
`var practice_name = 0;

            //Setup Drawing Surfaces for Test
            $canvasPractice.drawRect({
                layer: true,
                x: 0, y: 0,
                width: 800, height: 450,
                fromCenter: false,
                mousedown: function (layer) {
                    practice_name++;

                    line_objPractice = {
                        layer: t

[2016-11-13 04:04] dadixon commented on #260
This helps out a TON.  Been on this for weeks

[2016-11-13 04:29] dadixon commented on #260
I got it. I had to move the layer down to index 0. Works now. Thanks

[2016-11-13 04:29] #260 closed

[2016-11-13 04:37] caleb531 commented on #260
Works for me! :+1:

[2016-11-18 04:28] caleb531 commented on #259
Hi, @bliet. I apologize in advance for the late response.

I modified the jCanvas source to add basic support for the `pointerdown`, `pointermove`, and `pointerup` events. Please try out the updated jcanvas.js on the [feature-pointer-events](https://github.com/caleb531/jcanvas/tree/feature-pointer-events) branch and let me know how it works for you.

[2016-11-18 16:40] bliet commented on #259
Hi, very nice. I will try it next monday.

[2016-11-28 19:01] gnetsys commented on #205
Hi, I am trying to show/hide handles on mouseOver/mouseOut.  (am working with jComponent.org)

            canvas.drawImage({

                source: source,
                draggable: true,
                x: width / 2, y: height / 2,
                width: width / 2,
                height: height / 2,

               mouseover: function () {
                    var handle = {

[2016-11-29 05:22] caleb531 commented on #205
I think you meant for your `handleHide` function to accept `layer` as a parameter (and not `e`), like so:

[code]

[2016-11-29 17:06] gnetsys commented on #205
My bad! I have updated my code to use animation: but the same issue exist..

            canvas.drawImage({

                source: source,
                draggable: true,

                x: width / 2, y: height / 2,
                width: width / 2,
                height: height / 2 - 100,
                layer: true,

                handle: {
                    type: 'rectangle',

[2016-11-29 20:31] gnetsys commented on #205
My bad ... its error. I have changed my approach for the mouseOver/ mouseOut methods

canvas.drawImage({

                layer: true,
                source: source,
                draggable: true,

                x: width / 2, y: height / 2,
                width: width / 2,
                height: height / 2 - 100,

                mouseover: function(layer) {
                    canvas.anima

[2016-11-29 21:20] caleb531 commented on #205
If you want to set the color of all handles, use `setLayerGroup` ([docs here](http://projects.calebevans.localhost:8888/jcanvas/docs/manipulateLayers/#setting-layer-group-properties)) or `animateLayerGroup` ([docs here](http://projects.calebevans.localhost:8888/jcanvas/docs/animateLayers/#animating-layer-groups)) to animate the `fillStyle`/`strokeStyle` properties for `layer._handles`. The `*Layer

[2016-11-30 13:57] gnetsys commented on #205
It worked.... thanks!

[2016-12-07 05:18] caleb531 commented on #259
@bliet, any update on how the jCanvas build from the `feature-pointer-events` branch is working for you?

[2016-12-09 15:04] Devintelligence opened #261 "Click not working on rotate animation"
I made an animate rotation right and left.

While the rotation animation the click function is not working

Any idea whats wrong?

[test.zip](https://github.com/caleb531/jcanvas/files/642449/test.zip)

[2016-12-09 18:53] caleb531 commented on #261
Hi, @Devintelligence. Could you please clarify what you mean, and where I should be looking in your code? Where should I be clicking in your demo?

Caleb

[2016-12-11 03:18] mikegogulski opened #262 "drag not working on FF mobile"
Hi,

demo at http://gnar.gogulski.com/

I've got a transparent overlay layer which, on dragging, moves the inset layer, which is lower in the z-order.

Works on Chromium/desktop, FF/desktop, and Chrome/mobile but not in FF/mobile.

jcanvas.js at line 594 has
[code]

This may need to be expanded to include touch events for platforms that don't fire mouse events for touch interactions.

[2016-12-12 04:35] r0fls opened #263 "Setting cursor url doesn't work"
This is probably just user error, but I don't see anything in the docs. When I do:

[code]

Nothing shows up, though the url is correct and also this does work:

[code]

Is there a different URL syntax?

[2016-12-12 04:43] caleb531 commented on #263
Your syntax is correct. Any valid CSS `cursor` value is accepted.

I would first check the console to ensure that a 404 isn't being thrown—I suspect your relative path may not be pointing where you think. Because the `cursors` property applies a CSS `cursor` to the `<canvas>` element, and because that `<canvas>` element resides in your HTML document, the cursor path will be relative to your HTML d

[2016-12-12 05:13] r0fls commented on #263
@caleb531 thank you for the fast response, you are awesome. I did try the full path, which was  `"url('http://localhost:3000/assets/cursor.png')"` in my case, and it still didn't work :( I know the image is there, because it loads in my browser and I don't see any 404s in the inspector. However I don't see the image being loaded there either...

[2016-12-12 05:17] r0fls commented on #263
Is there anything I need to take into consideration if this is the index 0 image, and there are other layers on top with different cursors?

[2016-12-12 05:35] caleb531 commented on #263
Potentially. Could you please send me a screenshot of what that stack of layers looks like on the canvas?

[2016-12-12 05:56] r0fls commented on #263
I think the problem was that I wasn't using valid css:

This worked:
[code]

This didn't

[code]

Thanks again for your help and for writing this library. I'm closing this issue, but I think an example using a URL in the docs would be helpful :) Are those open source? I can add it if they are...

[2016-12-12 05:56] #263 closed

[2016-12-12 06:01] caleb531 commented on #263
Great! I suppose I need to relearn the syntax. I haven't used image CSS cursors in quite some time.

And yes, the website are all of the documentation are now completely open source. See:
https://github.com/caleb531/jcanvas-website/tree/master/_core_docs

[2016-12-12 18:05] caleb531 commented on #262
In reality, jCanvas is binding both mouse events and their corresponding touch events for dragging. Check out [jcanvas.js#2258](https://github.com/caleb531/jcanvas/blob/master/jcanvas.js#L2258) in the source (and the surrounding lines for context):

[code]

In effect, `mousedown` and `touchstart` are both bound to the canvas. I've tested this on Mobile Safari (and in your case, Chrome/mobile) with

[2016-12-12 22:55] mikegogulski commented on #262
Hi Caleb, thanks for getting back to me.

`$myCanvas.off('mousedown.jCanvas mousemove.jCanvas mouseup.jCanvas')` doesn't produce any noticeable change in behavior for me, whether in FF mobile or elsewhere.

I don't know how to get to a JS console in FF mobile, so I changed an element's behavior depending on whether or not `document.body.ontouchstart` is defined:

[code]

The alert doesn't appear i

[2016-12-12 23:07] caleb531 commented on #262
Just to be sure, are you calling `$myCanvas.off` *after* you initialize your layers? (as the events are bound at the time you add your layers with `addLayer` or `draw*` with `layer: true`.

Also, don't rely on the `typeof` operator; it can lie to you:

[code]

I would recommend that you instead check if `document.body.ontouchstart === undefined`. `document.body.ontouchstart` will be `null` or a fu

[2016-12-12 23:56] mikegogulski commented on #262
1: Yes. I set up the jcanvas object, do a bunch of `addLayer()`s on it, `drawLayers()` and then the `.off(...)`. You can see it (commented out) at https://gnarlify.me/js/script.js

2: Okay, I substituted your test for mine in the code I gave above. Same result. It's also there, at the bottom of the script in the link above.

[2016-12-16 20:06] caleb531 commented on #262
Hmm, I'm running out of ideas. Can you please run this code on FF mobile and tell me which alert it shows?

[code]

[2017-01-07 15:55] irobayna commented on #255
@tate-u any chance you can create a pull request with your changes?

[2017-01-07 16:05] irobayna commented on #255
For anyone looking for webpack support, jCanvas does works out of the box.  The following works for me:

[code]

@caleb531 @tate-u

[2017-01-13 12:58] bliet commented on #259
I'm sorry for the late response. At the moment this part of our project has a less importance. But I will try the branch soon.

[2017-01-16 12:14] arjenrschat opened #264 "Draglayers position lagging one event behind on drag"
Hi Caleb,

It look like drawlayers uses the old layer postion from before a drag event.

I noticed that:
The dragged layer/ handle snaps into place on the mouseup.
You can make the dragged layer move in opposite direction of the mouse when you repeatedly move your mouse one pixel to the left and right.
The layer postion is not updated on the first move related event.

This behavior is present on h

[2017-01-16 12:46] bliet opened #265 "Copy layer to another canvas"
I try to copy a layer from one canvas to another.
After that the object is drawn in the target canvase, but getLayers() is empty.

Here a simple (in my code it is more complex) Code to demonstrate:

[code]

[code]

[2017-01-16 18:11] caleb531 commented on #265
Hi, @bliet. When a jCanvas layer is created for the first time, jCanvas sets a special `_layer` property on it so jCanvas knows not to recreate the layer on every redraw. You can exploit this by creating a copy of the layer and deleting the `_layer` property, like so:

[code]

You can try the above code yourself in the [jCanvas Sandbox](https://projects.calebevans.me/jcanvas/sandbox/).

[2017-01-16 18:11] #265 closed

[2017-01-16 18:28] caleb531 commented on #264
Yes, this is a known behavior. However, this will not be changing because it is inherent with how I've written jCanvas: all layer events are handled after layers are redrawn (not before), as important event information can only be computed when the layer is drawn. Changing this behavior would require a substantial rewrite of jCanvas, which I am not ready or prepared to do at this time.

[2017-01-16 18:28] #264 closed

[2017-01-16 18:29] caleb531 commented on #261
@Devintelligence, any updates?

[2017-01-25 13:20] bliet opened #266 ""Multi" Draggable"
On touch devices I cannot drag two layers at the same time (Independently of each other, not as group).
Is it possible to change it?

[2017-01-25 16:16] arrowd opened #267 "measureText doesn't consider spaces at the end of the text"
I am rendering text with markdown-like marks (`**` for bold only) using jCanvas. For this, I am splitting the text into chunks and then use `.drawText()` shifting `x` coordinate by `measureText('previousChunk')`. This works well except for case when whole word is bolded, like `normal **bold**`.

My code splits above text into `["normal ", "**bold**"]`, but measureText doesn't consider space charac

[2017-01-25 16:48] arrowd commented on #267
Just as note: calling `measureText` for JavaScript's canvas context yields proper result.

[2017-01-25 23:27] caleb531 commented on #266
Sorry to say, but it's not something I plan to implement in the near future.

It *is* theoretically possible, but it would require a boatload of effort, modest architecture changes, and would probably be slow and laggy in the end.

Caleb

[2017-01-25 23:27] #266 closed

[2017-01-25 23:27] #259 closed

[2017-01-25 23:27] #261 closed

[2017-01-25 23:32] caleb531 commented on #267
Good question; I honestly can't remember why I did that; maybe I thought it might be convenient at the time, but if that was the case, why am I also not removing leading whitespace? As far as I can tell, it's not really necessary.

To be clear: can you confirm that the jCanvas `measureText()` method returns the expected values when you remove that single line?

[2017-01-25 23:33] caleb531 commented on #262
@mikegogulski any update on trying the above code?

[2017-01-25 23:41] caleb531 commented on #267
Oh, I remember now. The comment gives a hint to my original thinking:

[code]

Therefore, if I recall my reasoning correctly, the trailing-whitespace-trimming was added for the sake of line wrapping. That is, I reasoned that a trailing space at the end of a line should not count toward the width of the line (because a trailing space triggers a break to a new line, so the space isn't needed and per

[2017-01-26 08:21] arrowd commented on #267
I fully agree with that, but current implementation also trims spaces even when no wrapping is required and text is short enough to fit into `maxWidth`. And this is where things break for me.

I can workaround this with something roughly like `measureText("a a").width - measureText("a").width * 2`, so it is OK if things will remain as they are.

[2017-01-26 19:48] caleb531 commented on #267
Alright, then. Personally, I'm inclined to keep the current behavior (trimming regardless of wrapping), especially since you have a very particular use case.

For what it's worth, you can eliminate one of those calls to `measureText()` by just passing a single space to `measureText` (*e.g.* `measureText(' ').width`). I just tried it now in Chrome and Firefox, with success in both browsers.

[2017-02-01 21:09] Avejack commented on #141
Wouldn't it be a better way to just use an Arc and set the width and height via scaleX and scaleY?
Example:

$('canvas').drawArx({
      fillStyle: '#F00',
      x: 150, x: 150,
      radius: 1,
      scaleX: 100,
      scaleY: 150
});#

Perfect Ellipses i guess...
What do you say?

[2017-02-02 00:19] #267 closed

[2017-02-02 18:36] caleb531 commented on #141
Drawing a shape with `scaleX` and `scaleY` actually has some unavoidable consequences. Consider the following example—notice how the pattern background and stroke of the shape are skewed when `scaleX`/`scaleY` are applied:

**Ellipse drawn with Bézier curves:**
![screen shot 2017-02-02 at 10 33 05 am](https://cloud.githubusercontent.com/assets/872474/22562878/3745f6a0-e933-11e6-85cd-6495dfeaa411.p

[2017-02-02 19:39] Avejack commented on #141
Didn't think about that.

Sadly i'm going to use strokes on my arcs. But those 'unreal' ellipses aren't acceptable for me as well... Maybe i'm coming up with another "hack"...

Thanks for your answer!

[2017-02-02 22:27] caleb531 commented on #141
Thanks. ^_^

If you aren't as concerned about browser support, there is now a native `ellipse()` method (for which it would be pretty easy to write a [jCanvas Plugin](https://projects.calebevans.me/jcanvas/docs/extending/):

https://www.rgraph.net/blog/html5-canvas-ellipse.html

[2017-02-06 13:43] anil-suthar opened #268 "Handle drag fires click event when drag stop"

[2017-02-06 13:45] #268 closed

[2017-02-06 17:52] #262 closed

[2017-02-07 05:28] anil-suthar opened #269 "Drag fires click event when drag stop"
Hello
when I stop layer dragging, it just fires click event.
Can we avoid this to be happen ?
I'm using LATEST jCanvas version.
[code]

Thanks

[2017-02-07 19:34] caleb531 commented on #269
You'll be glad to know that this is quite easy to accomplish! Simply check if the cursor has moved:

[code]

[2017-02-07 19:35] #269 closed

[2017-02-08 08:19] uknowzheng opened #270 "How to put an image mask by other Image ?"
![theme_icon_widget_memory_mask](https://cloud.githubusercontent.com/assets/4647461/22728635/13bf3af2-ee1a-11e6-8695-1436f3f4fdf4.png)
A Image
![default_icon](https://cloud.githubusercontent.com/assets/4647461/22728636/13cd8648-ee1a-11e6-970e-0e672e1a7060.png)
B Image
I want to use A to mask B Image（In same Size weight and Height），how can i do(use addLayer())？

[2017-02-09 04:26] caleb531 commented on #270
You can't really use an *image* as a mask in jCanvas. But you *can* use a jCanvas path as a mask (using `drawPath` with `mask: true`). Therefore, I would recommend recreating the shape in *Image A* as a path, and then using that path to mask *Image B*:

[code]

[2017-02-15 13:32] anil-suthar opened #271 "unexpected behaviour of removeLayerGroup if multiple groups"
I'm using Latest jCanvas and Handle plugin. I've added two groups : shapes and shapes1 by following code :
[code]
Gives this output:
![sandbox jcanvas](https://cloud.githubusercontent.com/assets/3518141/22976556/4095fe8e-f3b1-11e6-8869-dc00d67fb45e.png)

Now I'm using removeLayerGroup method to remove all layers of shapes group :
[code]
And seeing this output :
![sandbox jcanvas 1](https://cloud.g

[2017-02-15 22:57] caleb531 commented on #271
Well, that's awfully strange. To start, what happens if you rename the `shapes1` layer group to something that doesn't contain the string `shapes`?

Caleb

[2017-02-16 07:29] anil-suthar commented on #271
Thanks for reply,
I tried by renaming **shapes1** to **asdfg**, BUT same error

[2017-02-16 12:04] uknowzheng commented on #270
$.jCanvas.extend({
    name: 'drawMaskImage',
    type: 'maskImage',
    props: {
        maskUrl: ''
    },
    fn: function (ctx, params) {
        var p = params;
        var imagecanvas = document.createElement('canvas');
        var imagecontext = imagecanvas.getContext('2d');
        var newImg = document.createElement('img');
        newImg.src = p.source;
        newImg.onload = function (

[2017-02-16 12:42] BharatGK opened #272 "How i Can able to remove $('#abc').drawArc({ }); with for loop"
Hey,

I have drawn some drawArc({}) and i need to remove drawn point, how i can do that?
Is there any function that i can able to call from angularjs?

OR
How i can remove drawArc({}) without page refresh?
Please do suggest!

[2017-02-16 17:25] caleb531 commented on #270
@uknowzheng, I see your `extend()` code, but I don't know why you are posting it. Is it not working for you? Do you have any further questions? :)

[2017-02-16 17:26] caleb531 commented on #272
Are you asking how you can remove the entire arc from the canvas? Could you please provide the code you are using? (whatever you are able to provide would help)

[2017-02-16 17:58] BharatGK commented on #272
Hey caleb531,

I am drawing arc on canvas with for loop like:

for(i=0;i<3;i++)
$('canvas')
.drawArc({
	draggable: true,
	fillStyle: 'red',
	x: 15, y: 15,
	radius: 15,
	dragstart: function() {
	// code to run when dragging starts
	},
	drag: function(layer) {
	// code to run as layer is being dragged
	},
	dragstop: function(layer) {
	// code to run when dragging stops
	}
});

I have to remove all d

[2017-02-16 18:00] caleb531 commented on #272
I see. :) To clarify: do you want to hide the arcs temporarily (with the intent to show them again later) or do you want to remove them permanently from the canvas? (I ask because it determines which solution I recommend for your particular use case)

Caleb

[2017-02-16 18:06] BharatGK commented on #272
I want to remove permanently because i am redrawing it

[2017-02-16 18:11] caleb531 commented on #272
Got it. In that case, I would recommend assigning a layer group to your arc layers (via the `groups` property), and then using `removeLayerGroup` later remove all layers in that group. See my example below; you can easily see the effect if you run it in the [jCanvas Sandbox](https://projects.calebevans.me/jcanvas/sandbox/).

[code]

[2017-02-16 18:14] BharatGK commented on #272
@caleb531
Thanks a lot man.!
Will try and let u know
Thanks keep building!

[2017-02-16 18:22] BharatGK commented on #272
@caleb531
Thanks. It working fine...

One more, can i set containment to arc, means it should not be hide under border.
![containment](https://cloud.githubusercontent.com/assets/20225402/23034794/f8b55734-f4a2-11e6-8815-520092cad209.PNG)

[2017-02-16 18:29] caleb531 commented on #272
Absolutely! Confining the layer to a particular region can be done by overriding `layer.x` and `layer.y` within the `drag` event callback for that layer. See the example below, where the layer is completely restricted to the boundaries of the canvas. As always, you can run this example in the [jCanvas Sandbox](https://projects.calebevans.me/jcanvas/sandbox/).

[code]

[2017-02-16 18:34] BharatGK commented on #272
thanks @caleb531,
for your Usain Bolt response.
You made my day as well as night.
thanks

[2017-02-16 18:37] #272 closed

[2017-02-17 00:44] caleb531 commented on #271
I got it!

You shouldn't assign the handles to any layer groups. jCanvas handles are removed automatically when their respective parent layer is removed.

However, I noticed that because the handles no longer have any groups assigned to them, dragging the text will cause the rectangle to drag with it but not the associated handles. You can work around this by setting `intangible: true` on your tex

[2017-02-17 07:27] uknowzheng commented on #270
Yes，I have a question。I want to use custom types, and use Layer to layout, but found that the type of expansion can not be in accordance with the normal order to draw. @caleb531

[2017-02-18 03:44] caleb531 commented on #270
Hmm, I see. That's a much trickier to solve. I was originally able to make it work for images (`type: 'image'`), but extending that capability to custom types would require some unpleasant rewriting that may take a bit of time.

My only suggestion at this point would be to preload the mask image object before drawing any layers.

[2017-02-20 12:00] uknowzheng commented on #270
yes，you are right @caleb531

[2017-02-20 12:00] #270 closed

[2017-02-21 05:37] BharatGK commented on #272
Hey  caleb531,

Can i set title on $canvas.drawArc so i can identify which drawArc for certain text.
Like:
![title on drawn arc](https://cloud.githubusercontent.com/assets/20225402/23152117/c57bd632-f825-11e6-87d1-b006d913c4e7.PNG)

[2017-02-21 10:53] BharatGK opened #273 "Can i set title on $canvas.drawArc?"
Hey caleb531,

Can i set title on $canvas.drawArc so i can identify which drawArc for certain text.
Like:
![title on drawn arc](https://cloud.githubusercontent.com/assets/20225402/23161935/07ce0efc-f852-11e6-872a-06e5d2f46ba7.PNG)

[2017-02-21 17:24] caleb531 commented on #273
The way to add text labels in jCanvas is to use `drawText` to add a text layer ([docs here](https://projects.calebevans.me/jcanvas/docs/text/)). If the arc is draggable, then you can utilize [drag groups](https://projects.calebevans.me/jcanvas/docs/draggableLayers/#drag-groups) to ensure that the text moves with the arc when dragged (or vice versa).

[2017-02-21 17:25] caleb531 commented on #271
@anil-suthar, please let me know if my solution above works for you. :)

[2017-02-22 05:23] BharatGK commented on #273
Hey Caleb531,

Can i set text to hover, means whenever i point it, then and then only text will appear?

[2017-02-22 06:12] anil-suthar commented on #271
Thanks Caleb, it's working.

[2017-02-22 06:12] #271 closed

[2017-02-22 18:49] caleb531 commented on #273
Sure! Use `setLayer` combined with the `visible` property to hide the text initially, only showing the text when the user has moused over the circle:

[code]

[2017-02-23 07:23] BharatGK commented on #273
Hey caleb531,
Thanks for response. But there are some issues:

1. I have to show text on hover with multiple arc
So if hover on first arc(A), text will showing on second arc(B). Like:
![issue1](https://cloud.githubusercontent.com/assets/20225402/23248698/c3cf4d80-f9c6-11e6-8e84-e9f854a9t6072.png)

2. Text is not draggable,
When i drag arc from one position to another, text remains on start positio

[2017-02-24 00:11] caleb531 commented on #273
1. You can place the text wherever you want—it doesn't need to necessarily be over an arc.

2. Check out [drag groups](https://projects.calebevans.me/jcanvas/docs/draggableLayers/#drag-groups), a jCanvas feature intended to solve that exact problem

[2017-02-25 03:01] zxd882002 opened #274 "The element will still appear even I clearCanvas"
Hi caleb531,

I am using JCanvas on my project. However, I find the following issue.

Here is the code

[code]

I use the jquery and jcanvas verison:
[code]

and body only contain this canvas:
[code]
I debug it and find after calling the clearCanvas(), the 'test' string will disappear. However when the mouse move inside the canvas. The 'test' string will appear again.

Do you know why it will appe

[2017-02-25 03:20] caleb531 commented on #274
You're not the only one who's asked this question, which is why I mention this in the jCanvas documentation [(see this section for the clearCanvas docs](https://projects.calebevans.me/jcanvas/docs/clearCanvas/#a-note-about-layers)).

[2017-02-25 03:41] zxd882002 commented on #274
Thank you for your quick feedback. I add the removeLayers() and then clearCanvas(), it will be not shown now.

[2017-02-25 03:41] #274 closed

[2017-02-25 04:40] caleb531 commented on #274
Don't use `clearCanvas()` at all. Calling `clearCanvas()` is useless when you draw anything with `layer: true`, because it will inevitably be redrawn later. If you want to redraw the canvas after removing layers, call `drawLayers()` instead.

[2017-03-03 12:24] karimun opened #275 "Draggable to permitted zones"
Hello caleb531,
is it possible to define "zones" in the canvas for allowing layers to be moved ("dropped") only into these?

My approach would be to initially define such "permitted zones" by drawRect() with layer: true, intangible=true
Then I would do coordinate comprisons in the dragstop function to evaluate if the dragged layer is "inside" of a "permitted zone".

Is this the most elegant way to

[2017-03-03 20:23] #273 closed

[2017-03-04 00:54] caleb531 commented on #275
Nope, there's no special jCanvas API for that—the `dragstop` approach you've described is exactly what I would recommend.

The coordinate comparison depends on the kind of layers you are interacting with. If they are mere rectangular shapes (rectangle, image, _etc._), then the algorithm depends on if you have `fromCenter: false` or not. You also need to consider if the draggable layer must be full

[2017-03-05 16:20] mihailShumilov opened #276 "Can't add text as layer"

[2017-03-05 16:24] #276 closed

[2017-03-07 13:17] karimun commented on #275
Hello celeb531,
I came up with following code:
---------------------------------------------

`// Draw the DropZone

$('canvas').addLayer({'name':'dropzone', type:'rectangle', intangible:true, x:200, y:300,width:100, height:100, strokeStyle:'#000', strokeWidth:1, fillStyle:'transparent'}).drawLayers();

// Draw the draggable Element

var x_init = 100;
var y_init = 100;

$('canvas').addLayer({
'nam

[2017-03-07 20:57] caleb531 commented on #275
Calling `getLayer` within `drag` like that will be extremely inefficient because `getLayer` will be called with the same value for every pixel you drag the layer. I would recommend instead that you store `getLayer('dragzone')` into a variable *outside of* the `drag` callback.

Even more, since you say you will have multiple dropzones, I would encourage you to utilize a feature in jCanvas called la

[2017-03-08 08:51] karimun commented on #275
Success, I think ..

// Define the Dropzones Group as Variable:

$dropzones = $('canvas').getLayers(function(layer){return (layer.groups.indexOf("dropzone") !== -1);});

// The Live Action:

drag: function(layer){

if($dropzones.length > 0){ for(var AyKey in $dropzones) {
if($dropzones[AyKey]['intersects'] === true){ layer.x = $dropzones[AyKey].x; layer.y = $dropzones[AyKey].y; }
}}
} // drag

dra

[2017-03-08 19:18] #275 closed

[2017-03-12 05:15] r0fls opened #277 "No way to tell if drawLayers has finished"
Would you accept a PR that adds another function, i.e. `willDrawLayers` (or some other name) that returns a promise to draw the layers? Right now there is no way to tell if this function has finished, which has resulted in an issue for me. Otherwise, does `drawLayers` currently support callbacks?  Let me know if you need further information describing my situation.

[2017-03-12 17:53] caleb531 commented on #277
Hi, @r0fls. `drawLayers` runs synchronously, so you should always be able to tell when it finished. Are you trying to run `drawLayers` asynchronously? What is your specific use case?

[2017-03-12 19:33] r0fls commented on #277
Basically I'm copying the canvas, then drawing some more stuff on the new copied canvas, then calling `drawLayers`. Finally, converting that canvas to a dataURL, but the dataURL doesn't contain the updates after drawing on the new canvas. Here is some sample code:

[code]

[2017-03-12 19:52] caleb531 commented on #277
Well, I don't know how accurate your sample code is compared to your actual code, but I can only judge what I see:

1. There is no `color` property in jCanvas; perhaps you meant `fillStyle` or `strokeStyle`?
2. This is merely an efficiency concern, but if you already have access to the DOM element `canvas`, then you don't need to call `$('#pdf-canvas')`. Just reference `$(canvas)` (and perhaps sto

[2017-03-12 19:53] r0fls commented on #277
@caleb531 sorry i'm not actually setting the color, poor example. Safe to say it is a valid jcanvas property (namely opacity).

[2017-03-12 19:54] r0fls commented on #277
@caleb531 Also yes that sounds like the issue, there are some images being drawn.

[2017-03-12 20:46] caleb531 commented on #277
Alright, I've made a few tweaks to add support for a `complete` callback to `drawLayers`, which runs when all layers have finished drawing.

Here's the basic usage:

[code]

You can download the updated jCanvas build below. Please try it and let me know if it solves your particular issue. :)

[jcanvas.js.zip](https://github.com/caleb531/jcanvas/files/836895/jcanvas.js.zip)

[2017-03-12 21:19] r0fls commented on #277
Awesome, thank you! I'll try this out later today and let you know how it goes.

[2017-03-13 02:30] r0fls commented on #277
@caleb531 I still haven't gotten this working but it's partially because the new canvas is not copying correctly. Debugging within drawlayers, I see `this` is showing as the below for the original canvas:

[code]

However for the copied canvas it shows as:

[code]

I'm using the same way of selecting them (with jQuery), but the context within `drawLayers` is different:

[code]

Do you know what co

[2017-03-14 04:29] caleb531 commented on #277
@r0fls I'm surprised, and in disbelief. Could you please show me the statement(s) you ran for each output snippet in your comment?

[2017-03-15 01:57] r0fls commented on #277
@caleb531 it turns out the issue is actually that copying the canvas (as shown above) doesn't copy the layers. So, modifying them wasn't doing anything... I'm still trying to initialize the old layers onto the new canvas, but feel free to close this issue out if you like since it's seeming to be unrelated to that issue.

Thank you.

[2017-03-15 02:02] caleb531 commented on #277
Nah, it's still related. :)

jCanvas stores its data for each canvas element as jQuery data (set using `$.data`). I believe jQuery's [clone()](https://api.jquery.com/clone/) method will copy this data if you specify the appropriate arguments (see the `withDataAndEvents` and `deepWithDataAndEvents` parameters in the aforementioned method docs).

[2017-03-15 02:47] r0fls commented on #277
That did the trick. There was no async issue, it was just simply not copying the jCanvas data so I couldn't modify it and `drawLayers` hence had nothing to draw. Thanks again!

[2017-03-15 02:47] #277 closed

[2017-04-01 08:29] mbienkowski opened #278 "jCanvas problems with animateLayer (rotate) after bumping jQuery to 3.2.0 (firefox only)"
Js stack after trying to rotate:
[code]

[2017-04-01 16:39] caleb531 commented on #278
This is a known bug, and I believe I have a patch for it already (just not yet released into stable). Please try this experimental build (link below) and see if it fixes the error for you:

https://github.com/caleb531/jcanvas/blob/jquery-3/jcanvas.js

[2017-04-03 09:22] stefan-scholl opened #279 "drawImage fails with SRCSET"
https://github.com/caleb531/jcanvas/blob/master/jcanvas.js#L3966 checks for src property. But some responsive themes could use property srcset instead of src. Now the "else" part is executed, because source.src is an empty string.

But as img elements (at least on Firefox 52) don't have a match() function, it crashes at https://github.com/caleb531/jcanvas/blob/master/jcanvas.js#L3977

Sorry, no te

[2017-04-06 17:26] caleb531 commented on #279
In my experience, `src` must be present, regardless of the presence of `srcset`. [The spec affirms this](http://w3c.github.io/html/semantics-embedded-content.html#element-attrdef-img-srcset) (emphasis mine):

More practically, `src` serves as a fallback if `srcset` is unsupported by the browser (and sure enough, even IE 11 does not currently support `srcset`). See http://caniuse.com/#search=srcset

[2017-04-06 17:26] #279 closed

[2017-04-08 07:13] r0fls opened #280 "Question: is there any recipe to do an inverse fill?"
What I'm trying to do is fill an area outside of a circle. Of course the obvious solution is to set the entire canvas background, then draw a new `fillStyle` arc within that. However this is all happening over an existing image, so I'm not sure how to remove the overlaying background within the arc, if that makes sense...  🤔

[2017-04-08 16:28] caleb531 commented on #280
jCanvas supports a special `compositing` property (which maps to the native canvas `globalCompositeOperation` property). It sounds like exactly the kind of behavior you need:

https://projects.calebevans.me/jcanvas/docs/properties/#compositing
https://developer.mozilla.org/en-US/docs/Web/API/CanvasRenderingContext2D/globalCompositeOperation

[2017-04-11 00:37] r0fls commented on #280
Works like a charm. Thanks once again!

[2017-04-11 00:37] #280 closed

[2017-04-17 06:26] luciorota opened #281 "path params do not update"
Hi
I'm running the following script.
When handlestop event is triggered path params (x1, y1, x2,y2, ...) are update but when dragstop event is triggered they aren't.
Is there any solution?

[code]

[2017-04-17 12:23] botorabi opened #282 "Handle Plugin: How to limit handle dragging/moving"
Hi caleb,

first of all, big thanks for the wonderful work. I learned to love jCanvas.

I am trying to use a polygon for selecting an area on a canvas. It has 8 sides and handles on each corner (by using the Handles plugin). Everything works fine, except a small issue: it is possible to drag the corner handles outside of the canvas. I would like to limit the corner dragging to inner area of the ca

[2017-04-18 04:47] caleb531 commented on #281
That's because for efficiency, dragging layers (which are `draggable: true`) doesn't update all of the coordinates. It only offsets the layer's `x` and `y` properties, so you can calculate the "real" position of those handles by adding on `layer.x` and `layer.y` (respectively), where `layer` is the parent layer of the handle.

However, when dragging handles, the positions of other handles often ne

[2017-04-18 04:48] caleb531 commented on #278
@mbienkowski, have you tried my patch? Please let me know how it works for you! :)

[2017-04-21 04:44] caleb531 commented on #282
Hi. @botorabi.

Sorry I haven't gotten to you sooner, but I just wanted to let you know that this is currently not possible, but it should be after I make a few tweaks to Handles. I will try to modify the build and share some example code tomorrow. :)

Caleb

[2017-04-21 07:53] echonox commented on #278
@caleb531 had same error, and tested your exp build and works fine, could you plz, also I see that it is 1 commit behind master could you plz merge and let me know, we use jcanvas in our project, tnx.

[2017-04-21 09:01] botorabi commented on #282
Hi @caleb531

_>  I will try to modify the Handles source and share some example code tomorrow. :)_

It sounds great, thank you.

[2017-04-21 16:07] caleb531 commented on #278
@echonox Sure! The jQuery 3 patch has now been merged into `master`. Granted, I have a few more changes to make/review before I am ready to push a new stable release, but you are welcome to start using the latest `jcanvas.js` source anytime (the minified file has not been regenerated yet).

[2017-04-21 16:59] caleb531 commented on #282
Okay, @botorabi, check out the `handle-drag` branch on this repository. I've updated `jcanvas.js` with new `constrainDragX` and `constrainDragY` properties.

The following example contains the handles to the explicit boundaries of the canvas using these new properties.

[code]

Let me know if this works for you, or if you have any other questions, @botorabi. :)
Caleb

[2017-04-22 17:19] echonox commented on #278
@caleb531 tnx

[2017-04-22 17:19] #278 closed

[2017-04-23 10:15] botorabi commented on #282
Hi caleb,

I have tested the solution in branch handle-drag. I can confirm that it works fine, thx for the extension!

One thing I have seen is that the new version (in comparision to version v16.07.03) got a few new lines of code, which may be the reason why I am no longer able to draggmove an image layer. I my app there are a couple of layers: background (gray color), image (which should be drag

[2017-04-24 00:48] caleb531 commented on #282
Nothing wrong with your code—this is absolutely my fault. :P

The condition I added isn't specific enough—images technically aren't closed and don't have fills, so that condition evaluates to true when it should only do so for path layers with the same parameters. However, I don't want to make the condition much more specific because it's just additional complexity with behavior that varies from b

[2017-04-24 00:48] #282 closed

[2017-04-24 07:50] botorabi commented on #282
Great, now everything works fine. I have also managed to introduce a move-checker -- using the same mechanism -- for the polygon and ellipse which prevents the entire geometry moving out of the canvas while dragging.

I am looking forward to further explore the possibilities with jCanvas in my app.

Big Thanks
boto

[2017-04-26 09:43] tompare opened #283 "R"

[2017-04-26 09:43] #283 closed

[2017-04-26 10:06] tompare opened #284 "Reset the aspect ratio to which the image is constrained when changing image"
Hello,
I have installed your plugin with which I have been working a few months and it makes canvas quite more easy to be used.
I have created a layer image with associated handles. The time I want to change the image, by clicking on an outside div, even when I update the sizes of the layer image, handles do not change its original size. Which means that if I try to resize the new image, it does n

[2017-04-26 21:44] caleb531 commented on #284
Yes, the aspect ratio can be reset by setting the layer's `aspectRatio` property to `null` (for this is what jCanvas Handles is setting internally).

[code]

[2017-04-27 08:05] tompare commented on #284
Hello @caleb531,

Thank you for answering.
I have tried what you said and it does not work at all. If I add `$("#c"+v2).getLayer('dsny').aspectRatio=null;` before the `drawLayers`, the time I try to resize the new image, the layer image disappears.
I have also tried to set it to null when creating the layer which seems to work the same as it did before,  maintaining the aspectRatio from the first

[2017-04-27 16:11] caleb531 commented on #284
Oh, my apologies. I just realized that the aspectRatio only gets set on instantiation of the handles, meaning if you set it to `null` as I originally suggested, it will never get set to the proper ratio. Therefore, try setting the aspect ratio to the image's new width divided by its new height.

[2017-04-28 15:49] tompare commented on #284
Yes, this is what ended up doing.
I edited my answer.

It worked, thank you for helping me
I did not understand which the aspectRatio function was at all.

Thank you again,
Dani

[2017-04-28 15:49] #284 closed

[2017-05-04 18:01] botorabi opened #285 "Small hang when start dragging on mobile devices"
Hi @caleb531
I have observed something which is a bit tedious on mobile devices. When dragging a layer -- say an ellipse or polygon -- with handles on a mobile device, the first a few millimeters of dragging the layer seems often to hang abit, then the layer can be moved smoothly without any hangs. It is only the initial phase of dragging, which often -- but not always -- seem to hang a bit. I hav

[2017-05-04 19:20] caleb531 commented on #285
Hi, @botorabi. Does the issue occur for draggable layers *without* handles?

Caleb

[2017-05-04 20:39] botorabi commented on #285
After testing more, I can see that it also happens to layers without handles, e.g. an image layer. The image has a small size of 512 x 512.

More info about two devices which show this effect: Samsung Galaxy S4 and Nexus 6 running Chrome.

On an iPhone6 Plus with Safari the effect is almost negligible.

boto

[2017-05-06 00:53] #281 closed

[2017-05-06 23:05] caleb531 commented on #285
Frankly, I'm not sure what can be done about that initial lag at this point. jCanvas performs a lot of work behind the scenes to make dragging work properly. Moreover, considering that this is effectively a performance issue which can only be reproduced on some mobile devices, it would be rather difficult to debug.

To be sure, I tested [this first docs example of draggable layers](https://project

[2017-05-07 09:02] botorabi commented on #285
Hi @caleb531

thank you for your inventigation. I would close this issue then and if I find somehting to fix this then I let you know.

[2017-05-07 09:02] #285 closed

[2017-05-17 14:54] Wazi38 opened #286 "Draggable textdraw bug"
Hello,

First, thanks a lot for your wonderfull work !
I used it for a program that allows to draw zones on a map (image loadedd) and place detectors (technical application).
Recently I had a problem with draggable elements.

I developped first the program with version v13.07.03.
Since yesterday (the code has not been changed) it's impossible to drag any of the elements (arc or text). The cursor c

[2017-05-17 22:52] caleb531 commented on #286
Interesting. Keep in mind that you upgraded from v13.07.03 to v20.0.0 (with a ton of versions in-between), so there is bound to be at least a few jCanvas code patterns that don't work anymore (or that should be done differently now). You also have a ton of code here, but I will try to help you as best I can.

To start, how often are you calling `drawZones()`? One thing I notice is that you are cal

[2017-06-01 18:13] botorabi commented on #282
Hi @caleb531

as I had promissed before, here is the web app, which was developed using jCanvas. It went online today.

  https://www.ifue-haartransplantation.de/hairassist/

Again, big thanks for the great work, I enjoy it much.

In the next project, the quadratic curves will be used to model eyebrows. I am excited to see what I can do with jCanvas.

I have already done some experiments and know

[2017-06-01 18:20] caleb531 commented on #282
@botorabi Hmmmm, so if I understand correctly, "Smooth" is when the line that connects each pair of control points is parallel with the line that connects each pair of start/end points? (like so):

![bezier-normal](https://cloud.githubusercontent.com/assets/872474/26694418/2ab5bc5e-46bc-11e7-899f-db4c0a402e20.png)

![bezier-rotated](https://cloud.githubusercontent.com/assets/872474/26694419/2ce3c3

[2017-06-01 20:24] caleb531 commented on #282
On second thought, what I just described is akin to just rotating the entire drawing, which is probably not what you mean. If you could please clarify or provide some sort of video/animation, oy would help me a great deal.

[2017-06-02 09:23] botorabi commented on #282
Take a look on the image. The node N is smooth if C1, C2, and N lie in on a line, otherwise N is cusp (following the terminology of Inkscape). The mentioned option (when enabled) would automatically make all those points to lie on a line while one of C1 or C2 or N is moved. Thus you ensure that the node N is smooth.

![jcanvas-quadratic](https://cloud.githubusercontent.com/assets/11502867/26719591

[2017-06-04 21:01] caleb531 commented on #282
@botorabi I see. Sorry to say, but that's a bit more sophisticated than what I'd be willing to implement for Handles at this time. It will surely add more complexity and is also likely to degrade performance.

[2017-06-05 07:15] botorabi commented on #282
Hi @caleb531 No problem, i will start some experiments and let you know about the results.

[2017-06-15 12:57] adityakumar9111 opened #287 "issue on animate layer in second time"
I am calling a function which contain all draw method  and then i am calling another function with all animate method and issue is that,

 when i am calling second function first time it works perfectly but second animation time is not working

[code]

[2017-06-16 03:08] caleb531 commented on #287
Hmm, could you please provide `5222470-fantastic-images.jpg` so I can test this all locally?

[2017-06-16 03:09] caleb531 commented on #286
@Wazi38 any update on this issue?

[2017-06-16 06:31] adityakumar9111 commented on #287
Hey i got solution ,
I make a new function and animate reverse to initial position of layer and then call animate function  .

''''
<!DOCTYPE html>
<html>

<head>
    <title>mask image</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
        @font-face {
            font-family: "Kimberleyy";
            src: url("RAINFALL

[2017-06-16 07:36] Wazi38 commented on #286
Hello Caleb,

I'm back pretty late... Sorry for that
Actually, the problem has disapered for most of users (not for me). Very surprising !!!
I tried many things but did not solved and mainly understood the problem.
The application is used at the moment and then I don't want to take any risk.
It won't be used this summer, and then I will try again to solve the problem.

Best regards,

Sébastien

[2017-06-16 15:50] #287 closed

[2017-06-16 15:56] caleb531 commented on #286
@Wazi38 for what it's worth, what web browser do the majority of your users use? What web browser are *you* using to test the application?

[2017-06-17 17:15] stccorp opened #288 "Unable to drag a background image"
Hello,

I am using jcanvas to load a background image and then draw shapes on top. BUT
let say my image is 1024 x 768  But I dont want to make my canvas that big. Let say I only want 320 x 240

I have 2 choices
1. resize the picture
2. maintain the picture size  and allow to drag the picture inside the canvas

I want to try #2. I made the layers dragable but nothing happen.  I just see a croped ve

[2017-06-17 17:40] stccorp opened #289 "Cannot read property 'style' of null"
I get the following error everytime I use the scrollbar On Opera or Firefox. Have not tried others

navbar-cover.js:12 Uncaught TypeError: Cannot read property 'style' of null
    at unstyle (navbar-cover.js:12)
    at navbar-cover.js:29

I get a different error on Firefox
![opera_2017-06-17_13-38-21](https://user-images.githubusercontent.com/8180135/27254994-66cbff02-5362-11e7-905e-ca8081ec0fda.p

[2017-06-17 17:42] #289 closed

[2017-06-20 03:29] caleb531 commented on #288
If I understand your intent correctly, you actually have a third choice: use the cropping feature for jCanvas images ([docs here](https://projects.calebevans.me/jcanvas/docs/images/#cropping)). I recommend this option for your case. Please try it and let me know how it works for you.

[2017-06-21 14:23] Wazi38 commented on #286
Caleb531,
I tried with FF, Chrome and IE.
Users use most of the time FF or Chrome.
Regards,
Sébastien.

[2017-06-21 16:32] caleb531 commented on #286
Hmm, and you experience the issue when you yourself test with either FF or Chrome?

[2017-06-22 10:00] Wazi38 commented on #286
Actually I do not use the application.
Even if it's for my company, I just developped it but do not use it.
In a few weeks now, I will move it to another hosting (the hosting is shared at the moment).
Perhaps problems come from modifications that could have been done on the hosting.
I'll let you know...

[2017-06-22 17:15] caleb531 commented on #286
Alright, sure! I'll close this issue for now, but if the issue persists after you change hosts, let me know and I'll re-open the issue. :)

[2017-06-22 17:15] #286 closed

[2017-06-30 19:06] YeltsinReyes opened #290 "Is it possible to click on a text?"
I'm trying to do this and it doesn't work!

[code]

[2017-06-30 19:22] caleb531 commented on #290
You're absolutely right. Even the drawText examples in the documentation are terribly screwy.

I will definitely look into this right away—please bear with me.

[2017-06-30 19:46] caleb531 commented on #290
@YeltsinReyes found the problem, and just pushed a fix. Please grab the latest `jcanvas.js` or `jcanvas.min.js` off of the master branch:

https://github.com/caleb531/jcanvas/blob/master/dist/jcanvas.js
https://github.com/caleb531/jcanvas/blob/master/dist/min/jcanvas.min.js

[2017-06-30 19:46] #290 closed

[2017-06-30 22:18] YeltsinReyes commented on #290
@caleb531 Thank you very much for your quick solution, now works very well!

[2017-07-03 16:35] caleb531 commented on #288
@stccorp any update on this issue? Have you tried what I suggested above?

[2017-07-05 05:32] adityakumar9111 opened #291 "Rendering Video"
I want rendering video inside canvas by jcanvas. Any idea??

[2017-07-05 17:02] caleb531 commented on #291
@adityakumar9111 jCanvas currently has no native method for it, but it's easily implemented via the native canvas API (http://html5doctor.com/video-canvas-magic/), which is easy to turn into a custom jCanvas method via the Plugin API (https://projects.calebevans.me/jcanvas/docs/extending/).

[2017-07-05 17:02] #291 closed

[2017-07-21 17:10] #288 closed

[2017-08-07 09:20] adrianhergim opened #293 "Touch problem in mobile devices"
Hi,

First of all congratulations for your plugin, i find it very useful for my current project.

I am having a little problem with the plugin in mobile devices. On the PC I have the canvas and I am using the layer system to do some animations when I click some figures, handling it with the mouse down, mouse up events, and everything works correctly. However, on the mobile phone, it seems that the

[2017-08-07 23:24] caleb531 commented on #293
Hi, @adrianhergim. I'd be happy to help, but I need to more from you:

1. What web browser /are you using on your PC?
2. What web browser / OS are you using on your phone?
3. Can you please provide the code you are using?

Thanks,
Caleb

[2017-08-08 08:32] adrianhergim commented on #293
Sure:
1. On the PC it works with Firefox and Chorme
2. I tried two diferent devices one with android 6.0.1 and the other one with andorid 4.2.2, I used Firefox/Chrome in both of them and neither works. However, the exemple code for Touch Events from the jcanvas documentation works correctly on both.
3. I don't know if all my code well be helpful, but here is the part I am having problems with:

`

[2017-08-08 21:35] ubergeekzone opened #294 "setLayers and Image Color Change"
I am trying to change the color of an image

[code]

does not seem by firing? I think I am doing this wrong.. any help would be appreciated.

[2017-08-08 21:41] caleb531 commented on #294
`lay.soruce` looks like a typo (should be `lay.source`). Is that from your original code, or do you think that was a mistake when writing that code snippet in this issue?

[2017-08-08 21:42] ubergeekzone commented on #294
i've got it semi working with this code, but only part of the image is being inverted..

[code]

[2017-08-08 21:46] ubergeekzone commented on #294
Might help if I explain what I am trying to do.

I have a color picker and I am setting the color, I need to change the color of the image based upon my color picker value. This has to be done after images are loaded on start.

[2017-08-08 21:46] caleb531 commented on #293
Are you setting a CSS `width` and/or `height` on the canvas? Because that is a common source of problems. The HTML5 can only be resized via its `width` and `height` HTML attributes.

Caleb

[2017-08-08 21:51] ubergeekzone commented on #294
Seems to be a width and height issue in the setPixels, I am setting the width and height to the image I want to change the color on. What am I doing wrong? :face_with_head_bandage:

[2017-08-08 22:01] caleb531 commented on #294
At second glance, it looks like you are also trying to rotating the image (based on your original code).

`setPixels()` in itself is not layer-aware; it doesn't invert the pixels for a particular layer, but rather whatever pixels are within the rectangular region you defined when you call the method (`x`, `y`, `width`, `height`). Furthermore, `setPixels()` can't be rotated with the `rotate` proper

[2017-08-08 22:19] ubergeekzone commented on #294
hmm, ok.. still only inverting half of my image..

[2017-08-08 22:20] caleb531 commented on #294
@ubergeekzone Could you please provide a screenshot of what you're seeing?

[2017-08-08 22:22] ubergeekzone commented on #294
current code.
<img width="765" alt="screen shot 2017-08-08 at 6 22 03 pm" src="https://user-images.githubusercontent.com/6809045/29097196-8c4511a6-7c66-11e7-931e-70b5d13e8ff7.png">

[code]

[2017-08-08 23:26] caleb531 commented on #294
I realized just now that `setPixels` *does* support `rotate`, so forget my earlier comment.

After further testing, I have discovered (using my own example) that `setPixels` doesn't appear to be positioning correctly. I am investigating the issue now, and will get back to you with further details of what I find.

[2017-08-08 23:27] ubergeekzone commented on #294
Awesome, At least the issue is now known. Do you know how I can replace an image source?

[2017-08-08 23:29] caleb531 commented on #294
You can replace an image source just as you are already doing—using `setLayer` and the `source` property:

[code]

[2017-08-08 23:30] ubergeekzone commented on #294
not working for me...

[2017-08-08 23:31] caleb531 commented on #294
Just to confirm: you will need to call `drawLayers()` after `setLayer()` in order for the source change to take effect visually. Did you do that?

[2017-08-08 23:44] ubergeekzone commented on #294
ok, source issue fixed.

[2017-08-08 23:48] caleb531 commented on #294
Alright, I just pushed https://github.com/caleb531/jcanvas/commit/b22706ed748a9641bf174f6f54a50587ae4bf930 with a fix (currently, only `jcanvas.js` is updated). Turns out `setPixels()` was not respecting a canvas scaled by `detectPixelRatio()`, so if you were viewing the canvas on a high-PPI device (like retina display iPhones or Macs), the manipulated pixels would be mispositioned.

@ubergeekzone

[2017-08-08 23:55] ubergeekzone commented on #294
Beautiful, Works like a charm!!! Thank you!! One last thing.

Could you explain how this works to me. What if I wanted to replace the color of an image rather than tint it?

[code]

[2017-08-09 00:05] caleb531 commented on #294
The callback you pass to the `each()` function receives a `px` object as its only argument. This `px` object contains `r`, `g`, and `b` properties (respectively red, green, and blue). Each value ranges from 0 (e.g. no red) to 255 (e.g. bright red).

The example I gave above (and in the docs) is actually inverting the colors, not merely tinting them. I assume you want to replace colors *similar to*

[2017-08-09 00:06] ubergeekzone commented on #294
If I wanted to change the colors for just the 2 red borders that are its own layer, How would I go about doing this?

<img width="330" alt="screen shot 2017-08-08 at 8 05 20 pm" src="https://user-images.githubusercontent.com/6809045/29099707-036a84ba-7c75-11e7-9833-9ad6e56e6279.png">

[2017-08-09 00:10] caleb531 commented on #294
I might go about it by checking if `px.r` is greater than `px.g` and `px.b` (indicating that this particular pixel has more red in it than green or blue).

[code]

[2017-08-09 00:12] ubergeekzone commented on #294
I am lost... This would not be done using a mask?

[2017-08-09 00:24] ubergeekzone commented on #294
got it! thanks!

[2017-08-09 00:25] caleb531 commented on #294
@ubergeekzone Great! I think I can close this issue, then—but let me know if there's anything else you need. :)

[2017-08-09 00:25] #294 closed

[2017-08-09 08:20] adrianhergim commented on #293
Yeah I was using CSS becouse I wanted the canvas to be responsive, always having the same number of pixels but not occuping the same space on the screen (for mobile/PC version), but It seems that mess up the coordinate system of the canvas. If I make its size fixed it works perfectly on the mobile, but I lose the responsivness. I will try a different approach.

Thanks for everything!

Adrian

[2017-08-09 17:19] caleb531 commented on #293
As I said, you'll need to modify the canvas's `width` and `height` *attributes*. Try something like this:

[code]

[2017-08-10 10:21] adrianhergim commented on #293
That resizes to the window size rather than the column size. At the end I went with this and it work perfectly:

[code]
Thanks!!

[2017-08-10 15:20] #293 closed

[2017-08-14 15:57] ubergeekzone opened #295 "Image Masking Not Working as Should"
I do not think the image masking is working as it should.

I have 3 images.  I am trying to replace the wood border with the gray image.

[code]

![2x3-p3n-100-78g_0d794e6a-d4f5-4fe3-9631-af9bba6d5c15_1024x1024](https://user-images.githubusercontent.com/6809045/29280015-a63e1d8e-80e7-11e7-9523-ff25066ba807.jpg)
![gray](https://user-images.githubusercontent.com/6809045/29280014-a637175a-80e7-11e7-9

[2017-08-17 03:21] caleb531 commented on #295
@ubergeekzone Sorry to say, using an image as a mask in jCanvas doesn't work the way you expect. An image mask in jCanvas would only cause the masked shapes to be clipped at the boundary of the image.

``js
$('canvas')
.addLayer({
  type: 'image',
  mask: true,
  source: 'images/fish.jpg',
  x: 150, y: 150
})
.addLayer({
  type: 'arc',
  fillStyle: '#c33',
  mask: true,
  x: 80, y: 200,
  radius:

[2017-08-17 03:21] #295 closed

[2017-08-18 06:58] Klay-Clam opened #296 "Is there an API for viewing the pixel colors specified in the page? I can not find it"
Hi,buddy~I'm using your plugin to make a project，now，I need a function to get the pixel colors specified in the web page.What can I do by this plugin?
Is there an API for viewing the pixel colors specified in the page? I can not find it！

[2017-08-19 17:05] caleb531 commented on #296
If you wish to get the pixel data as a means of manipulating the pixel colors, you can use the jCanvas `setPixels()` method ([docs here](https://projects.calebevans.me/jcanvas/docs/pixelManipulation/)). If you want to simply get the pixel data without manipulating pixels, you might as well just use the native canvas `getImageData()` method ([tutorial here](https://developer.mozilla.org/en-US/docs/

[2017-08-19 17:05] #296 closed

[2017-08-20 02:51] Klay-Clam commented on #296
Got it .

[2017-08-26 01:05] Hyphen-ated opened #297 "Draggable images masked by their transparent pixels"
jCanvas lets me drag images around on the canvas. The clickable area for each image is a rectangle.

When I have two images stacked on top of each other, and I click on a location where the top image is fully transparent and the bottom image is visible, right now this starts dragging the top image. In my application, I want this to start dragging the bottom image instead. (the highest image where

[2017-08-26 01:31] caleb531 commented on #297
jCanvas does not support any kind of pixel detection on images. If you want to do something like this, you would need to use a native canvas method like [getImageData](https://developer.mozilla.org/en-US/docs/Web/API/CanvasRenderingContext2D/getImageData), and if you encounter a transparent pixel, propagate the layer event to the lower layer.

You can get the lower image layer by checking the `lay

[2017-08-26 02:16] Hyphen-ated commented on #297
Thanks for the reply!

I found that the library "easelJS" has the behavior I want by default, and it seems somewhat easier to switch to that.

[2017-08-26 02:16] #297 closed

[2017-09-05 15:33] ubergeekzone opened #298 "Pixel Manipulation Question"
You helped me a few weeks ago with an issue of changing a color of 2 images. I am having a similar issue again.

The football field image is using this code to change the area in blue and the red border.

[code]
![background-field](https://user-images.githubusercontent.com/6809045/30068980-6b7c43d6-922d-11e7-99b0-79f47f3761a3.png)

**Layers of Football Field**

![background](https://user-images.gi

[2017-09-05 15:47] caleb531 commented on #298
Where are `rgb.red`, `rgb.green`, and `rgb.blue` defined?

[2017-09-05 16:43] ubergeekzone commented on #298
[code]

[2017-09-06 05:02] rhewitt opened #299 "Layer index not restored after drag with bringToFront?"
Hi and thank you for this awesome plugin! I'm just now trying it out so apologies if I've missed something, but I ran into a quirk that, for me at least, was a bug. I created a dragGroup with two overlapping rectangles and set bringToFront=true on both.

I want the cursor to be different on each rectangle and wanted my second rectangle's cursor to show in the overlap. That was the case at load, bu

[2017-09-07 12:19] ubergeekzone commented on #298
Caleb,
  Any update on this issue?

[2017-09-07 16:19] caleb531 commented on #298
My apologies—I suppose I don't understand your initial question. Could you please clarify what you expect to happen, and what's happening instead?

[2017-09-08 09:16] rivimey opened #300 "Assistance: Upgrade from v13.06 to latest"
Hi, I want to update an app using jcanvas 13.06.26 to a more recent, pref. latest version. Are there any upgrade instructions or known 'gotchas' available?

If I just try using v20, there are errors, at least, in layer selection and ordering. The old code uses draw primitives using "group" to define layer membership (I think: not my code) and then getLayerGroup to retrieve the items thus tagged. I

[2017-09-08 19:54] caleb531 commented on #300
Hey, @rivimey. Off the top of my head, the `group` property is now deprecated in favor of the `groups` array. See https://projects.calebevans.me/jcanvas/docs/addLayers/#grouping-layers

Try `groups` and let me know what happens.
Caleb

[2017-09-09 18:06] caleb531 commented on #299
Hey @rhewitt. Are you able to reproduce this unexpected behavior [in the jCanvas Sandbox](https://projects.calebevans.me/jcanvas/sandbox/)?

[2017-09-11 17:27] rivimey commented on #300
Thanks, Caleb, that does seem to help, though I would suggest "deprecated" should be "unsupported"! :)
Can you think of any other changes I might look out for?

[2017-09-11 17:45] caleb531 commented on #300
@rivimey Err, yes, unsupported. I initially deprecated it when I added `groups` (meaning I indicated that you shouldn't use `group` anymore), but I later removed it when enough time had passed.

I can't think of any other major changes off the top of my head. If your application is functioning properly, then I'd say don't worry about it. Therefore, I'm closing this issue, but please let me know if

[2017-09-11 17:45] #300 closed

[2017-09-12 00:43] r0fls opened #301 "Text doesn't draw subscripts"
Is there a way to draw text with super/subscripts? Here's an example:

[code]

It doesn't render the HTML and results in `<sup>world</sup>`.

[2017-09-12 02:21] caleb531 commented on #301
Unfortunately, HTML5 provides no means of rendering HTML or formatting text as superscript/subscript. jCanvas does not provide this functionality either. It is something you need to implement yourself.

Fortunately, I'll try not to leave you hanging. See https://stackoverflow.com/questions/8326191/html5-canvas-subscript-and-superscript

[2017-09-12 02:21] #301 closed

[2017-09-12 06:30] bhnbhushanTPL opened #302 "How to draw border around image?"
I want a border around my image,

[code]

the above code does not create border around image? How to do it?

[2017-09-16 17:10] caleb531 commented on #302
@bhnbhushanTPL That is currently not possible. You must use two separate layers (image and rectangle):

[code]

If you don't want to duplicate the x/y/width/height of your image for the stroke rectangle, you can use the `load` callback to draw the image before drawing your stroke:

[code]

If you need your image to be draggable, check out [Drag Groups](https://projects.calebevans.me/jcanvas/docs/d

[2017-09-16 17:10] #302 closed

[2017-09-18 06:03] bhnbhushanTPL commented on #302
@caleb531 Thank You.

[2017-09-18 13:45] ubergeekzone commented on #298
@caleb531 Is there a way I could just ignore transparent pixels?

[2017-09-18 15:41] caleb531 commented on #298
Yep—there's actually a `px.a` property on the `px` object which represents the alpha value. A value of `0` means completely transparent; a value of `1` means fully opaque. So you can check `px.a === 0` to check for fully transparent pixels.

[2017-09-18 15:49] ubergeekzone commented on #298
@caleb531 that did not work as planned.

[code]

It still adds the color to the transparent area.

[2017-09-18 15:52] caleb531 commented on #298
@ubergeekzone that only works for pixels that are completely transparent? Are the pixels you're working with completely transparent, or is there some slight opacity/color?

[2017-09-18 15:54] ubergeekzone commented on #298
![lines](https://user-images.githubusercontent.com/6809045/30551301-11b8c596-9c68-11e7-8df6-dc2bc374f4da.png)

@caleb531 see image above.

[2017-09-18 16:45] ubergeekzone commented on #298
@caleb531 the issue is this

I have 2 color swatches where I can pick colors to change the images, each image is on its own layer.  but if I pick a certain color it will not update the other layer when a new color is picked.

Not quite sure what I am doing wrong.

[2017-09-18 16:47] caleb531 commented on #298
@ubergeekzone Keep in mind that `setPixels()` is not layer-specific. If you have, say, a white rectangle drawn below your transparent-pixel image on the canvas, then `setPixels()` will see those white pixels instead of transparent ones.

I don't know if that helps, but it's worth noting.

[2017-09-18 17:16] ubergeekzone commented on #298
@caleb531 hmm, good to know. not quite my issue. Go here https://shop.prolinetailgating.com/apps/board-app and click on High School Sports pick either the 2nd or 3rd board and play between the Primary Color and 2ndary Color swatches. You will see the exact issue and maybe have some insight on what I could do to fix this.

[2017-09-19 14:19] ubergeekzone commented on #298
@caleb531 any luck?

[2017-09-19 16:04] caleb531 commented on #298
@ubergeekzone Sorry, but I won't be able to continue investigating this issue until tonight (i.e. in about 10 hours). I work full time now. ;)

[2017-09-19 16:23] ubergeekzone commented on #298
@caleb531 cool, no problem. I understand. Thanks for taking the time to help. I will keep an eye out for feedback.

[2017-09-21 00:15] ubergeekzone commented on #298
@caleb531 any luck?

[2017-09-21 01:35] caleb531 commented on #298
@ubergeekzone Gah, so sorry. Something came up and I totally forgot about this. Let me try to help you now. Thanks for giving me a nudge.

After, further investigation *facepalm*. If you want to set transparent pixels, you need to set `px.a` to `255` otherwise the pixel will still be transparent regardless of other color values.

[code]

[2017-09-21 04:40] ubergeekzone commented on #298
@caleb531 I will try this tomorrow and update you. ty

[2017-09-23 01:22] rhewitt commented on #299
Sorry for the delay. Yes, I can create it there. My use case is perhaps unusual, but here's a different example to illustrate what I'm talking about (code below, i don't see a way to save a sandbox experiment):
[code]

[2017-09-26 11:11] bhnbhushanTPL commented on #265
@caleb531 do we have to specifically call drawArc, drawRect, etc to draw a layer with object which we get by `getLayer` ?

[2017-09-26 15:18] ubergeekzone commented on #298
@caleb531 still did not solve my issue.

[2017-09-28 02:04] caleb531 commented on #298
@ubergeekzone It should definitely work, but to be fair, I should have provided the example I wrote to confirm this. Please download the ZIP below, try it out, and see what you can learn from it. I'm using the exact image you provided me.

[jcanvas-setpixels.zip](https://github.com/caleb531/jcanvas/files/1339182/jcanvas-setpixels.zip)

[2017-09-28 02:12] caleb531 commented on #265
@bhnbhushanTPL You can use either:

1. `addLayer` with the correct `type`
2. *or* a `draw*` method with `layer: true`

...to create a layer that you can get with `getLayer`. See the following sections from the docs:
https://projects.calebevans.me/jcanvas/docs/addLayers/#adding-layers
https://projects.calebevans.me/jcanvas/docs/retrieveLayers/

[2017-09-28 02:16] caleb531 commented on #299
I see. Well, I can offer you a few ideas to solve this:

- Remove `bringToFront: true` completely and implement it yourself (the way you need it to work)
- Create a custom jCanvas type (see [the docs here](https://projects.calebevans.me/jcanvas/docs/extending/)) and make pass `bringToFront: true` to the whole drawing when you call it (as long as you're using `params.x` and `params.y` in the right

[2017-09-28 13:43] ViliusVaitiek opened #303 "Visibility not being triggered on layer"
I'm trying to set visibility of a certain layer to true/false , but the affect is not being shown visibly, however if we log the layer object the value `visible` does change.

We have discovered that for some reason, if we trigger mouseout event the visibly state changes visibly.

I have reproduced the problem on jsfiddle

[https://jsfiddle.net/n05a5s75/](url)

[2017-09-28 15:53] caleb531 commented on #303
Per the docs, you need to redraw the canvas via `drawLayers()` after you set a layer property. See https://projects.calebevans.me/jcanvas/docs/manipulateLayers/#setting-layer-properties

[2017-09-28 15:53] #303 closed

[2017-10-09 07:21] YeltsinReyes opened #304 "Why AddLayer() type text does not give me the exact width?"
Hi I'm adding a new layer but this does not give me the exact width, some solution or explanation?

[2017-10-09 17:37] caleb531 commented on #304
Hi, @YeltsinReyes! Can you please provide the code you are using to create the text layer?

Thanks,
Caleb

[2017-10-09 23:19] ubergeekzone opened #305 "Saving Canvas"
@caleb531 I have a canvas that is 1260x1200 the image gets saved as those dimensions. What I would like to do is have larger images as my image assets and then scale them down but when saving save as the original sizes for the elements.

[2017-10-10 15:59] caleb531 commented on #305
@ubergeekzone It sounds like you are trying to increase the resolution of your canvas images for retina displays? Have you looked at `detectPixelRatio`?
https://projects.calebevans.me/jcanvas/docs/detectPixelRatio/

[2017-10-11 09:09] anolek opened #306 "Resize canvas with fromCenter = false and constrainProportions = true"
Hi,

First of all, thanks for jCanvas, it is very useful and easy to use,

While using the handles plugin,
I found an issue (i think) when you use jCanvas handle and you set "fromCenter" to false.

When resizing from the top left or the bottom left, well, it also "drag" the rectangle, here is a gif animated showing the issue :

![2017-10-11_11-09-17](https://user-images.githubusercontent.com/15199

[2017-10-11 16:41] caleb531 commented on #306
It's completely my fault. Handles does not currently support fromCenter: false, nor have I indicated the lack of support in the docs (though I'll make a note to do that soon). resizeFromCenter:false is as close as you'll get. Sorry I can't offer a better solution at this time.

Caleb

On Oct 11, 2017, 2:09 AM -0700, Jean-Clément Niguès <notifications@github.com>, wrote:

[2017-10-11 17:19] anolek commented on #306
Thanks, and don't worry !

After looking at it, i found a simple solution, but i didn't test all the case (yet) to check if it will break something or not.

When i have done checking it, can i send a PR ? :)

[2017-10-11 17:29] caleb531 commented on #306
@anolek Of course! PRs are always welcome :)

[2017-11-03 06:47] sijongyeoil opened #309 "measureText.width returns about only one word, not whole text"
In some circumstances, If the text value contains a white space, I have found that `$('canvas').measureText('name').width` returns only the width of the first word, not the width of the entire sentence.

So I've resolved the problem by changing the code as follows:

Place the following code around line 3578,
[code]
Change as shown below.
[code]

But I do not know if this is the perfect solution, a

[2017-11-04 21:44] caleb531 commented on #309
@sijongyeoil Interesting. Could you please provide a sample call for the function you provided? I want to test this in the jCanvas Sandbox.

[2017-11-06 07:33] sijongyeoil commented on #309
If you run the following code,
`rectangular_window(25, 25, 100, 100, 'Thequickbrownfox', 'contents');`

Then this `rectangular_window` function should make changes to the width of the main layer to fit the title statement.

Ex)
![image](https://user-images.githubusercontent.com/11897833/32429843-d8941102-c30f-11e7-9477-f52320de752a.png)

but when there is a space in the title, such as `rectangular

[2017-11-06 08:59] anolek commented on #309
Hi, i just hit the same issue, here is a small code to reproduce this issue :
[code]

[2017-11-07 08:00] W285887933 opened #310 "Vue + jcanvas doesn't work"
I use this plugin in Vue project

[2017-11-09 09:28] Bees360jinghua commented on #310
I found this problem too

[2017-11-09 21:35] caleb531 commented on #310
@W285887933 @Bees360jinghua Could you please be more specific? *How* is jCanvas not working with Vue? A code example would really help.

[2017-11-10 05:58] Jinghua-Bees360 commented on #310
`import "../../assets/js/jquery-3.2.1.min.js";
 import "../../assets/js/jcanvas.js";
export default {
  name: "DamageDetection",
  data() {
    return {};
  },
  methods: {
    drawRect: function(canvasId, penColor, strokeWidth) {
      var layer = 0;
      layer: true;
      var that = this;
      that.penColor = penColor;
      that.penWidth = strokeWidth;

      var canvas = document.getElement

[2017-11-10 06:04] Jinghua-Bees360 commented on #310
`	import "../../assets/js/jquery-3.2.1.min.js";
	import "../../assets/js/jcanvas.js";
	export default {
		name: "DamageDetection",
		data() {
		return {};
	},
	methods: {
	drawRect: function(canvasId, penColor, strokeWidth) {
		var layer = 0;
		layer: true;
		var that = this;
		that.penColor = penColor;
		that.penWidth = strokeWidth;

		var canvas = document.getElementById(canvasId);

		var canvas

[2017-11-11 03:42] caleb531 commented on #310
Hmm, I wonder if this has to do with how you are importing jCanvas. jCanvas currently doesn't have any code for ES6 module support, but it should be require'able in node. Perhaps try importing jCanvas with `require('../../assets/js/jcanvas.js')` instead, and let me know what happens.

[2017-11-11 03:51] #298 closed

[2017-11-11 03:52] #299 closed

[2017-11-11 03:53] caleb531 commented on #304
@YeltsinReyes are you still having this issue? If so, could you please provide some code?

[2017-11-11 03:54] caleb531 commented on #305
@ubergeekzone did `detectPixelRatio` work for you?

[2017-11-11 03:54] #306 closed

[2017-11-11 04:30] caleb531 commented on #309
@sijongyeoil Alright, I've done some testing with your example (thank you for providing that). I can absolutely confirm this issue. Good news, though: I've isolated the cause of the problem and have implemented the fix (no change to the wrapping algorithm—just added some logic for deciding when to wrap).

Please pull down the latest `jcanvas.js` from the `master` branch, and let me know how it wor

[2017-11-14 11:50] sijongyeoil commented on #309
@caleb531  It works very well. thank you!

![image](https://user-images.githubusercontent.com/11897833/32778429-2e15c0b2-c97d-11e7-8501-c73aac608151.png)

[2017-11-30 12:12] jimd33463 commented on #193
If you copy/paste the below into the 'sandbox' (the sandbox featured on the jcanvas website) the canvas flickers when you mouse over it.  What is the solution to correct this? I've tried removing the extra drawLayers calls, but it didn't help.  It seems like the problem is resolved when I remove all the mouse events.

$('canvas').addLayer({
  type: 'image',
  source: 'http://pngimg.com/uploads/koa

[2017-11-30 12:30] jimd33463 opened #311 "Canvas flickers after attaching mouse events"
If you copy/paste the below into the 'sandbox' (the sandbox featured on the jcanvas website) the canvas flickers when you mouse over it.  My actual code is more complex, but you can see this issue even with this simple example.  The problem is resolved when I remove all the mouse event.  This happens only in recent versions of IE.

There is a note on the jCanvas website that may be related, but I

[2017-12-01 10:07] awenger63 opened #312 "Cannot draw in very large canvas FireFox vs Chrome"
Hi, I test your jcanvas and it was very interresting to use it, but in my case, I would use it in a very large canvas with zoom process.
I redraw (.drawLayers()) a simple arc (radius 10) on the rigth side of a big canvas (when zoom process increase width canvas, x value of the layer too, but HTML page just see one part of the canvas). In this case, the issue beginnig appear on the rigth side becau

[2017-12-01 12:29] qingxin2016 opened #313 "the text disppearing when cursor move into canvas"
when move cursor into canvas the text disappering in the canvas.
the code is below,how to fix id.
[code]

[2017-12-01 21:29] jimd33463 opened #314 "IE11 and Edge do not include stroke when listening for mouse events"
Using the simple example below (copy paste into jCanvas website Sandbox), you'll see that in Chrome you can click on the stroke to activate the animation.  However in IE and Edge you have to click within the fill.   Does anyone know if there's a work-around for this?  Thanks

// Click the star to make it spin
$('canvas').drawPolygon({
  layer: true,
  fillStyle: '#c33',
  strokeStyle: 'rgba(0,0,0,

[2017-12-02 18:05] caleb531 commented on #313
@qingxin2016 I am not seeing the text disappearing when I test your code in the [jCanvas Sandbox](https://projects.calebevans.me/jcanvas/sandbox/). What browser are you using?

This is the code I am testing with (same as yours, but with the missing variables defined):

[code]

[2017-12-02 18:09] caleb531 commented on #311
@jimd33463 You can try something like this:

[code]

[2017-12-02 18:19] caleb531 commented on #312
@awenger63 So you are changing the width of the canvas when some user event occurs? How are you changing the width? I ask because changing the CSS width using `.css('width', myWidth)`or `.width(myWidth)` can be problematic. The correct way to set the width is `.attr('width', myWidth)`.

If this is not what you are doing, then what do you mean by zooming the canvas? How are you zooming the canvas?

[2017-12-02 18:27] caleb531 commented on #314
Unfortunately, there is no pretty workaround. IE11 (and seemingly Edge too, sadly) do not support the HTML5 isPointInStroke canvas method, which jCanvas uses to enable the behavior of triggering events on drawing strokes.

Since you are using polygons, you *could* work around this by using two overlapping polygons. The one beneath would act as the stroke, and the other (slightly smaller) polygon w

[2017-12-02 18:53] awenger63 commented on #312
Hi caleb531,  thanks you for your answer.
You're rigth, user action (zoom) change widht of the canvas. I do this change using `.attr('width', value);` to be sure that attribute's update not only css rendered.

[2017-12-02 19:15] caleb531 commented on #312
Oh, I think I see the problem now.

It's because you are increasing the arc's `x` by 1 within your `drag` callback. Why are you doing it this way? The `x` coordinate will surely increase exponentially, leading your arc to go offscreen because the x value becomes so large.

[2017-12-02 19:20] jimd33463 commented on #314
Thanks very much for the responses to my inquires!  I'll give that a try.  Is there some sort of 'scale' property available that would scale up a layer?  I need the layer scaled up to mimic a 3-pixel stroke.

[2017-12-02 19:49] awenger63 commented on #312
Yes, I think it's something like that, but how I can increase x value. Is there a limit to draw something in a canvas ?

[2017-12-02 20:12] caleb531 commented on #314
@jimd33463 The value for the `scale` property should be a number like `1.05`, not `(1.05, 1.05)` or even `[1.05, 1.05]`. If you want to control the scale axes separately, use `scaleX` and `scaleY`.

https://projects.calebevans.me/jcanvas/docs/scaleCanvas/#the-scale-property

[2017-12-03 04:09] qingxin2016 commented on #313
thank you,i have fixed it.Now i meet new issue.
on the canvas, i need to draw 10 rects,At the front of  rects,need draw text.
for the text and the color of rects,i use ajax every 1000ms to get the data.
But after 2min,i found the browser is broken down.(the rect and text text can be draggabled,i use chrome browser).
is there good way to fix it?

[2017-12-03 08:52] qingxin2016 commented on #313
Now i add Rect layer click event,when i am dragging layer ,i don't want to acitive click event,how to do it?

[2017-12-04 03:53] qingxin2016 commented on #313
when i use draw() function to draw native canvas method,can i use groups and dagggroup properties with it?

[2017-12-05 04:33] caleb531 commented on #313
@qingxin2016

The way I would accomplish detecting a click-that-is-not-a-drag is to use flag variables combined with `dragstart` and `dragstop` callbacks:

[code]

You can't use `groups`/`dragGroups` with `draw()` by itself, but you should certainly be able to if you create a custom jCanvas method using the Plugin API. See the drawHeart example from the docs:
https://projects.calebevans.me/jcanvas

[2017-12-05 15:13] jimd33463 opened #315 "Detect if point coordinate is on a shape"
I'm looking for a way to detect if a given point coordinate is within on a shape.  I was looking at the "IsPointInPath" property, but having trouble implementing that with jCanvas.

The following does not work. Any help would be appreciated...

// retrieve a previously drawn layer and see if point is within it
var layr = $('canvas').getLayer('A');
var isTouching = layr.isPointInPath(353,402);

[2017-12-05 17:19] #313 closed

[2017-12-07 09:56] jiawen-Bees360 opened #316 "handle plugin problem"
I am using handle plugin. I am wondering if I can dynamically make a layer resizable.
I tried
[code]
But it's not working.

[2017-12-07 10:00] jiawen-Bees360 commented on #316
Well, strange thing.
I change it to
[code]
It working perfectly.

[2017-12-07 10:02] jiawen-Bees360 commented on #316
But anyway I have to say that you are doing a nice job on jcanvas. thanks :+1:

[2017-12-15 05:37] caleb531 commented on #312
@awenger63 Well, you should not be incrementing `layer.x` in your `drag` callback at all. If you just the layer to move with your mouse as you drag it, just omit the `drag` callback altogether, as `draggable: true` will already handle that just fine.

I don't know if you meant something more specific, but if so, please clarify.

[2017-12-15 05:42] caleb531 commented on #193
Hey, @jimd33463. Sorry I've been so late in replying to your message, but rest assured that I haven't forgotten about it. I'll try to respond back with a solution on Saturday.

[2017-12-16 20:32] caleb531 commented on #193
@jimd33463 Alright, I see no flickering of the image on my end on any of the browsers I've tested (Chrome, Firefox, and Safari on macOS). What browser

Either way, you could try "preloading" the image by loading it as an external `<img>` element, then referencing that DOM element. This has been known to work for some jCanvas users who encountered similar flickering issues.

[code]

[code]

[2017-12-17 15:14] jimd33463 commented on #193
Thanks Caleb, but I did already try that too.  I ended up solving it by moving the image out of the canvas and putting in a separate div positioned behind it.

On Dec 16, 2017, at 3:32 PM, Caleb Evans <notifications@github.com<mailto:notifications@github.com>> wrote:

@jimd33463<https://github.com/jimd33463> Alright, I see no flickering of the image on my end on any of the browsers I've tested (Ch

[2017-12-17 18:00] awenger63 commented on #312
Hi Caleb531,
Thanks you for your time.
It's not a draggable issue but a canvas and x size problem with ALL drawings. See code beelow to reproduce :
`<div>
            <canvas id="canvas" width="16583" heigth="100" style="position: absolute; right: 0px;"></canvas>
            </div>`

`$('canvas').addLayer({
        type: 'arc',
        fillStyle: 'yellow',
        strokeStyle: 'red',
        strok

[2017-12-22 09:25] nawataster opened #317 "draggable property is always true"
During layer creation the **draggable** property always set to **true** value (even if you try to set it to false) if dragGroups property is defined. You should perform `$("canvas").setLayer(layer, {draggable: false}).drawLayers();` additionally to set it to false.

[2017-12-29 04:06] caleb531 commented on #317
Hi, @nawataster. I see exactly what you mean. However, I'm not inclined to change this because doing so might break jCanvas code that assumes layers with `dragGroups` are implicitly draggable (i.e. without `draggable: true`).

Is your `setLayer` snippet still sufficient as a workaround for you?

[2017-12-29 04:06] #317 closed

[2017-12-30 18:44] caleb531 commented on #312
@awenger63 Thank you for explaining what you are trying to achieve, because I believe you are going about it the wrong way. I would not recommend having a canvas so large. It will eats tons of memory and become unwieldy because you have so many pixels to work with. The canvas should never be any larger than the user's viewport (window).

I say this with confidence because I have struggled with a s

[2018-01-03 09:42] vrbvillor opened #318 "Hi, Caleb, I'm not quite understand this passage, the first part of Animating Layers."
A callback function that runs when the animation completes (optional). It accepts the following arguments: - The percentage of the animation which has completed (as a value from 0 to 1). - A jQuery.fx object containing properties related to the animation. - The layer being animated.

I'm reorganizing the documentation of the jCanvas. And see this new words of Animating Layers. It says the callback

[2018-01-03 09:59] vrbvillor commented on #318
![image](https://user-images.githubusercontent.com/8016761/34515988-c672ba32-f0af-11e7-89b3-a559451c36a7.png)

The doc has some error. Please check it.

[2018-01-04 05:28] vrbvillor commented on #318
https://projects.calebevans.me/jcanvas/docs/mouseEvents/#the-mouseover-and-mouseout-events

The mouseover and mouseout events demo is not correct. The comment in the code is to say to rotate the triangle but the final effect is only change the fillStyle.

[2018-01-04 05:34] vrbvillor commented on #318
https://projects.calebevans.me/jcanvas/docs/mechanicalEvents/#the-move-event

The demo code of move event is not clear enough.

[2018-01-04 05:40] vrbvillor commented on #318
And all mechnical event use a primary verb, except delay uses `delayed`.

[2018-01-04 08:11] vrbvillor commented on #318
By the way, how to draw a vector path icon, such as icon font with a complex paths??

For example.
[code]

[2018-01-06 03:57] caleb531 commented on #318
Hi, @vrbvillor. From the top:

1. You are absolutely correct; the three arguments refers to the `step` callback, not `complete`; I have corrected this in the docs and pushed the changes.
2. Yes, it should be *stop\** instead of *delay\**; I've corrected this too
3. I've clarified the examples and descriptions for the whole Mechanical Events page
4. *facepalm* How did I miss that? The callback name

[2018-01-07 00:05] caleb531 commented on #316
@jiawen-Bees360 I probably have a not-so-smart check against `null` only in the code, when I should be checking against any bottom value (`undefined` included). But glad you figured that out—I'll be closing this issue now.

[2018-01-07 00:05] #316 closed

[2018-01-07 00:12] caleb531 commented on #315
`isPointInPath()` is a native canvas context method, but it is *not* a jCanvas method, and it does not work with layers. The closest thing you can do is read the `intersects` property on a given layer, which will be `true` if the current cursor coordinates lie within that layer (since the last redraw):

[code]

See the docs: https://projects.calebevans.me/jcanvas/docs/properties/#intersects

[2018-01-07 00:12] #315 closed

[2018-01-23 14:24] kamilic opened #319 "drawLayers() need a callback"
Hi.
When a layer group contains image layer(s), the behaviour of drawLayers() is not a really synchronous operation.

in this situation
[code]

in https://github.com/caleb531/jcanvas/blob/master/dist/jcanvas.js#L1499
[code]

Pause the drawing process and wait for onload() to continue the process by using the following code snippet.

in https://github.com/caleb531/jcanvas/blob/master/dist/jcanvas.j

[2018-01-25 01:13] caleb531 commented on #319
@kamilic I honestly don't know why the `drawLayers()` `complete` callback never made it into an official release. I will integrate my changes from #277 this weekend, and comment back with the details on how to download the new build.

My development process is much better than it used to be, so you can be sure this change will be merged into master after I confirm it works for you. Expect an updat

[2018-01-26 10:11] awenger63 commented on #312
@caleb531 Hi, Sorry for the delay, I'm working on the better way to use jcanvas in my case.
Thanks a lot for your great explanation, example and for your Sandbox !
I test your solution on it whith big x value and it could be a workarround of the issue.
In my case I pluging your jcanvas solution on other component where the zoom is implemented. So, the diffulty is to translate when zoom is apply an

[2018-01-27 17:48] caleb531 commented on #312
@awenger63 It's hard to say since you haven't provided your latest code. Regardless, I realized that it would probably be helpful if I extended my above translation example to support zooming.

How is the zoom in your application controlled? Via a button, or something like mouse interaction (e.g. click to zoom at this point)?

[2018-01-27 19:30] caleb531 commented on #319
@kamilic All done! Please download `jcanvas.js` from the [drawlayers-improvements](https://github.com/caleb531/jcanvas/tree/drawlayers-improvements) branch. I've provided an example below, which you can run in the [jCanvas Sandbox](https://projects.calebevans.localhost/jcanvas/sandbox/).

Once you've tested this and confirmed that this works for you, then I will push these changes as an official r

[2018-01-30 11:20] kamilic commented on #319
Hi, caleb.
Sorry for the late reply.
It works for me, thank you so much !
I will waiting for the official release. :p

[2018-01-30 13:18] kamilic commented on #319
oops.
A problem is detected.
When mouse move out of canvas,  callback complete() will be fired again.

[2018-02-03 23:33] caleb531 commented on #319
@kamilic Okay, I just pushed a potential fix; could you try downloading again please and let me know how it works for you?
https://github.com/caleb531/jcanvas/tree/drawlayers-improvements

[2018-02-07 10:05] awenger63 commented on #312
@caleb531 Sorry for the delay, I work also on other issues in my project.
Original zoom version of the component had been realise with a slider. But I have
Implemented it in my application by the mouse event 'wheel'. I've got a var zoomLevel initialised on the load and I increase/decrease it depend of wheelDelta. Then I send this value to the component like a slider value ! After this change, I up

[2018-02-08 02:12] kamilic commented on #319
Cool!
I think it's time to merge it into the official release.
thank you, caleb.

[2018-02-08 17:02] caleb531 commented on #319
@kamilic Great! I'll push an official release this weekend.

Caleb

[2018-02-10 19:35] caleb531 commented on #319
@kamilic I just pushed jCanvas v20.2.0 fixing this issue. Enjoy! Let me know if you find any problems.

-Caleb

[2018-02-10 19:35] #319 closed

[2018-02-15 03:07] caleb531 commented on #312
@awenger63 That helps a bit. I'll try to get you a comprehensive example this weekend, if you're able to wait until then.

[2018-02-15 13:12] awenger63 commented on #312
@caleb531 Yes, I can ;-)

[2018-02-17 22:34] caleb531 commented on #312
@awenger63 Just thought you'd like to know: I'm working on your comprehensive pan/zoom example right now. I'm building it as a comprehensive demo repository that can serve as a de-facto way to implement pan/zoom in jCanvas. I still have work to do, so hang tight.

[2018-02-18 01:11] caleb531 commented on #312
@awenger63 This is a more challenging problem than I anticipated, and I still don't have it quite right, but it works (more or less) if the scale increment is `*= 2` or `/= 2`.

Attached below is a ZIP of my latest work. It's an npm project, so you'll need to `npm install`.

I know it's not ideal, but when I figure this out definitively, I will let you know.

Caleb

[jcanvas-panzoom-demo.zip](http

[2018-02-19 08:15] awenger63 commented on #312
@caleb531 Good work, zoom apply on mouse position for all component. This can be great for zooming jcanvas component. But in my case, I apply the zoom to the container and I replace jcanvas component to the rigth position (x,y) like your translation example without zoom it. To be honest the parent component is a wavesurfer.js where zoom is implemented. I will send you a better example by video or

[2018-02-19 16:48] caleb531 commented on #312
@awenger63 Okay, I figured out the proper math, and it works perfectly as I desire. Please see my demo repository for the full example. Please refer to that instead:
https://github.com/caleb531/jcanvas-panzoom-demo

I'm not sure I understand what you mean. I know my example using click for zoom rather than mouse wheel, but the way this is written should make mouse wheel zoom easily integrate-able.

[2018-02-19 19:47] awenger63 commented on #312
@caleb531 Sorry for my english, perhaps it's the reason of your misunderstand ?
Remember :

What i would like to say it is  : When I zoom the picture (waveform) , I need to draw or move a jcanvas layer on a right position without change is dimension only replace it on the rigth (x,y) position. But if zoom is bigger, canvas is bigger too, and drawing doesn't work after 16380px.
It's for that your f

[2018-02-20 04:36] #318 closed

[2018-02-26 08:53] gwenferre opened #321 "draggable event on second drawText not working"
Hello everyone! First, sorry for my english, i hope i would be clear.

I have to create a little painter with JCanvas where the user would be able to add rectangles, ellipses, texts or lines on canvas. I have an issue with the drawText function which is the only element draggable. When i add a first draggable text, i unbind the events on the canvas at first (if the user have previously add a line

[2018-02-28 11:39] awenger63 commented on #312
@caleb531 To resume

- This issues #312 it's not a jcanvas issue but a browser and canvas element issue. It exist some restriction see for example [https://stackoverflow.com/questions/6081483/maximum-size-of-a-canvas-element](url)
 you can test with this code on different browser (Chrome OK, Firefox KO). So I think it could be close and I need to find a solution like you suggest to translate draw

[2018-03-10 17:17] caleb531 commented on #312
Thanks, @awenger63. I saw your pull request and will be reviewing it today. I will be closing this issue now, given everything you have said.

[2018-03-10 17:17] #312 closed

[2018-03-10 17:46] caleb531 commented on #321
Hi, @gwenferre. Sorry for my late response. I am pretty sure your problem is unbinding events in the first place. Why are you unbinding the canvas events before drawing?

[2018-03-22 15:29] gwenferre commented on #321
Hello @caleb531 , no problem, thanks for your time!
If, in the first time, I draw a line for example and after i have to to draw a rectangle, I have to unbind the canvas events because it will draw a line and a rectangle in the same time. I hope I am clear.

[2018-03-24 02:32] caleb531 commented on #321
"In the same time"? What do you mean? I apologize that this isn't making sense to me—language is hard.

If you want to delete an existing layer, you can use `removeLayer()` and then call `drawLayers()` again. If you want to change a property on an existing layer, use `setLayer()`:
https://projects.calebevans.me/jcanvas/docs/manipulateLayers/

[2018-03-26 08:26] shenxrs opened #322 "Line mouseover event triggered issue"
Using the drawLine method, when the point is more than two, the mouse enters a polygon that is surrounded by multiple points and triggers the mousever event, even if the line is not closed, and not triggered online.

[2018-03-28 08:02] #309 closed

[2018-03-31 22:26] caleb531 commented on #322
@shenxrs This is not currently possible as-is. The only way you could achieve this currently is to draw out all sides of the desired path as a `drawLine` path in itself, which should have about twice as many points and would be closed.

[2018-03-31 22:26] #322 closed

[2018-04-04 01:18] #314 closed

[2018-04-04 01:18] #311 closed

[2018-04-24 13:08] Tjommel opened #323 "Mouse Events do not work on Ellipses"
// Hover over the circle
$('canvas').drawEllipse({
  fillStyle: "#9966ff",
  x: 100,
  y: 100,
  width: 50,
  height: 50,
  mouseover: function(layer) {
    console.log("OVER");
  },
  mouseout: function(layer) {
    console.log("OUT");
  }
});

This does not work

[2018-04-25 22:01] BlueAndi opened #324 "jQuery.fn.bind() is deprecated in jquery 3.2.1"
The jquery-migrate lib must be used, to support jquery 3.2.1, because jQuery.fn.bind() is deprecated.

Is it planned to update the source, so jquery-migrate won't be necessary anymore?

[2018-04-26 00:05] caleb531 commented on #323
@Tjommel Mouse events are only applicable to jCanvas layers. Set `layer: true` on your ellipse and you'll be good to go.

[code]

[2018-04-29 21:56] caleb531 commented on #324
@BlueAndi According to the [jQuery 3.0 Upgrade Guide](https://jquery.com/upgrade-guide/3.0/#deprecated-bind-and-delegate), the `.bind()` method is deprecated, but not removed from the API. Therefore, could you please clarify why jquery-migrate is still required, even though `bind()`is still present in the API?

[2018-04-29 22:29] #323 closed

[2018-04-30 22:05] BlueAndi commented on #324
It seems the jquery-migrate lib must not be used in case only the `jQuery.fn.bind()` is still used. The only advantage is that it points out, that `.bind()` is deprecated to the developer.

[2018-04-30 22:05] #324 closed

[2018-04-30 22:13] jr-cologne opened #325 "Infinite loop when trying to remove layers"
Hi there!

First of all, thank you for your amazing work! I am really enjoying your library.

However, I have one problem in regards to removing layers.

Whenever I try to remove all layers which do not have a name, an infinite loop occurs.

Am I stupid or is this a bug? 😄

I would appreciate any kind of help very much.

Here's my code:

[code]

Thanks in advance!

Best regards from Germany,
@jr-c

[2018-05-01 08:08] jr-cologne commented on #325
@caleb531 Seems to work for me.

Thanks for the quick fix! :)

[2018-05-14 03:35] caleb531 commented on #325
@jr-cologne I forgot to mention: I pushed out v21.0.1 with this fix about a week ago. Enjoy!
https://github.com/caleb531/jcanvas/releases/tag/v21.0.1

Caleb

[2018-05-14 03:35] #325 closed

[2018-05-14 13:33] jr-cologne commented on #325
Yep, I've already noticed that. Thanks!

[2018-05-24 02:07] dotnetnoobie opened #326 "TypeScript Definition File"
Would you consider making a TypeScript definition file?

[2018-05-24 02:09] caleb531 commented on #326
@dotnetnoobie Nope, I have no intention of introducing transpiled languages (like TypeScript) into jcanvas.

[2018-05-24 02:09] #326 closed

[2018-05-24 02:17] dotnetnoobie commented on #326
Hi @caleb531 just out of interest is there any particular reason?
e.g. to much work or it's not really suited to jCanvas?

I am just learning about TypeScript and I have used jCanvas before which is very good and makes using the HTML Canvas very easy

[2018-05-24 02:38] caleb531 commented on #326
@dotnetnoobie A few reasons, in no particular order:

- I don't know TypeScript and haven't taken much interest in it
- It would require a substantial effort on my part to convert the codebase to TypeScript
- I'm not sure what direct benefit it would provide to the library—I suppose readability/write-ability, but I know JS well enough that I don't see that added benefit amounting to much anyway
-

[2018-05-24 05:49] dotnetnoobie commented on #326
@caleb531 thanks, I just wondered, I also think it would likely be a big investment of time and effort I only asked because I was playing around with jCanvas and tried to use it in TypeScript I found a third party definition file but I thin it's pretty old and it looks like they only worries about the bits they were interested in.

I am not really a Javascript person, but using jCanavs I have made

[2018-05-24 06:09] dotnetnoobie opened #327 "Discolouration of image when using .getCanvasImage()"
When I use $("canvas").getCanvasImage('jpeg', 1) I get a discolouration in the resulting image

it does not make a difference what quality or image format I use

the discolouration also seems to depend on what is on the canvas generally I have a background image and it's different depending on which image I have set as the background (bottom layer)

I just wondered if you have noticed this and I a

[2018-05-25 18:10] dotnetnoobie commented on #327
OK I seem to have found the issue, it only happens when I am drawing the image out in the browser into a image tag

[2018-05-25 18:10] #327 closed

[2018-05-29 02:34] caleb531 commented on #321
@gwenferre Any update?

[2018-06-30 08:21] vitstradal opened #328 "handle: x,y,width,height in handlemove"
This is not bug, but question:

Can I get `x`,`y`,`width`, `height`, in `handlemove(layer)`. Because `layer.x`, `layer.y`,... contains position of "handle"  (small cicrle or square) not whole area.

[2018-06-30 13:40] vitstradal commented on #328
I figured it out, `layer.x` and `layer.y` is coordinates of center. Unless `fromCenter` is set to `false`.

[2018-06-30 17:07] caleb531 commented on #328
@vitstradal Yes, you are correct. Per the [Support page FAQ](https://projects.calebevans.me/jcanvas/support/):

[2018-06-30 17:07] #328 closed

[2018-07-22 21:49] Ikes72000 opened #329 "cursor properties"
Hello,

I need to change cursor style when mouse is over a layer. In jCanvas documentation, it's indicated that we have to use the cursor property to do that.
I tried to do this, but it didn't work:

[code]
How to use cursor property with a specific layer?

Thanks.

Ikes

[2018-07-26 15:49] caleb531 commented on #329
@Rowanism you are correct. I will fix that in the docs this weekend.

[2018-07-26 15:49] #329 closed

[2018-07-27 20:55] qroft opened #330 "drawText aligning not working on mobile"
Thanks a lot for this plugin!
At the moment i am creating a hybrid app via Phonegap based on the Onsen UI.

When i use the align:'right' as option within a drawText object, on my Chrome browser everything looks awesome. But while checking it via the Phonegap App on my Android smartphone, the text is not right aligned.

[2018-07-27 21:43] caleb531 commented on #330
@qroft jCanvas is just using the native canvas `textAlign` property to make that happen. So I would recommend creating a small example using native canvas and `textAlign`, and testing on both Chrome and Phonegap+Android. If there's still a discrepancy, then it's a larger issue than jCanvas. If not, then it's a definite jCanvas bug.

If this sounds good to you, please let me know what you find. :)

[2018-08-13 17:58] iElizium opened #331 "Why jСanvas draws poor quality circle on small sizes of canvas?"
Hello, thanks for jCanvas, I ran into such a problem: poor quality on canvas of small size

Comparison with konvajs:
[https://jsfiddle.net/zye92L8p/2/](https://jsfiddle.net/zye92L8p/2/)

This can be somehow corrected? What am I doing wrong?

[2018-08-24 06:36] jeanschmitt opened #332 "jCanvas doesn't resize when using detectPixelRatio()"
When resizing canvas with :
`$('canvas').attr('width', $(window).width());`
for exemple, the canvas doesn't resize if we're using detectPixelRatio().

This is probably due to the css added by this function.

Manually changing the css width and height gives a weird effect, and after a draw call it returns to the original size

[2018-08-25 23:31] caleb531 commented on #331
@iElizium I'm guessing you are using a device with a high-density display, such as a MacBook Pro with Retina Display. To support high-DPI devices, use the `detectPixelRatio` function. See the docs:

https://projects.calebevans.me/jcanvas/docs/detectPixelRatio/

[2018-08-25 23:31] #331 closed

[2018-08-25 23:32] #321 closed

[2018-08-25 23:32] caleb531 commented on #321
@gwenferre I'm closing this issue unless you are still experiencing problems.

[2018-08-25 23:32] caleb531 commented on #330
@qroft I'm closing this issue unless you are still experiencing problems.

[2018-08-25 23:32] #330 closed

[2018-08-28 18:47] zeeeuu opened #333 "its changing dimensions of objects like images and rectangles while drawing object with rotation"
drawing a rotating image changes its increase its width and height.

[2018-08-28 19:12] caleb531 commented on #333
@zeeeuu Can you please provide a code sample or screenshot demonstrating your issue?

[2018-09-04 11:50] Ikes72000 opened #334 "Issue with rotate in function addLayer"
Hi,

I have create a function which allows me to display an image on which is made a rotation, from an angle passed in parameter. But I have a problem, the angle of rotation is not although taken into account, but the angle value received by the function is correct.

[code]
If i add a setLayer function between addLayer() and drawLayers(), like this, i work.

[code]

Why?

It also works if I force

[2018-09-04 12:19] #334 closed

[2018-09-04 12:27] Ikes72000 commented on #334
I find the problem, not from jCanvas.

[2018-09-06 03:27] kevinvarela opened #335 "StrokeStyle and StrokeWitdth on image layer not work"
I am trying put a border in image layer but it does not work.

![image](https://user-images.githubusercontent.com/11762429/45133529-13b4cb00-b16c-11e8-9274-63c8ac02fb64.png)

[2018-09-06 03:30] kevinvarela commented on #335
![image](https://user-images.githubusercontent.com/11762429/45133529-13b4cb00-b16c-11e8-9274-63c8ac02fb64.png)

[2018-09-07 13:39] kevinvarela commented on #335
@caleb531 Thank you for JCanvas, I resolved my problem with issue #302

[2018-09-11 04:58] #335 closed

[2018-09-11 05:04] kevinvarela opened #336 "I need a way to download JCanvas to a Image please."
I tried a million ways for download Canvas but i failed.

If you have any way to resolve this. I will lot of grateful.

Regards.

[2018-09-12 03:42] caleb531 commented on #336
@kevinvarela Can you please provide the code you are trying to use? I need more context about what you mean and what you are trying to do.

[2018-09-12 03:44] caleb531 commented on #332
@jeanschmitt What is your intent? Do you want the canvas width/height to change dynamically according to the viewport width? Or something else?

[2018-09-12 16:30] kevinvarela commented on #336
@caleb531 I use JCanvas for do a image with text. But now, i want download this image generated with JCanvas to file png/jpeg.

HTML
`<canvas id="canvas"></canvas>
  <a id="download" href=""><button type="button" class="btn-success btn btn-block" onClick="downloadCanvas()">Download</button></a>
`

JS
`function downloadCanvas() {
    var download = document.getElementById("download");
		var image =

[2018-09-16 01:53] caleb531 commented on #336
@kevinvarela First, convert the data URL produced by `getCanvasImage()` to a `Blob`. See https://stackoverflow.com/questions/16245767/creating-a-blob-from-a-base64-string-in-javascript and pick your favorite solution for doing so.

Then, once you have the blob, you can use the following code to trigger a file download:

[code]

Please let me know if you're able to get this working.

[2018-09-17 13:18] kevinvarela commented on #336
Thank you very much.

And thank you for JCanvas.

[2018-09-17 13:18] #336 closed

[2018-10-11 08:19] marcoschwartz opened #337 "Doesn't seem to work with Meteor"
Hello,

I would like to use your library that looks awesome inside my Meteor (https://www.meteor.com/) project, but it doesn't seem to work.

I tried by importing the library via the CDN, and also by installing it via NPM and then importing it with import(). Both results in this error whenever I try to draw something:

TypeError: $.jCanvas is not a function

Any idea of what I could be doing wrong

[2018-10-11 11:12] LinCaster opened #338 "about img index Top"
I need to put IMG on the top and cover other contents.
But every time a new img is added, he will be covered by the new img.
The new img will continue to increase and he needs to run at the earliest. At the same time, at the top

Thank you for your help.

        canvas
	.addLayer({
		layer: true,
		type:'image',
		name:'men_left_1',
	  	source:'img/image/men_left_1.png',
	  	x:a,
	  	y:0,
	  	ind

[2018-10-11 11:19] nallias commented on #338
can you reproduce the problem with the sandbox https://projects.calebevans.me/jcanvas/sandbox/ ?

[2018-10-11 11:29] LinCaster commented on #338
![image](https://user-images.githubusercontent.com/24221977/46800653-f9819480-cd8a-11e8-8254-a4a6db1364d5.png)
I want to be at the same time without changing the rendering order. Black covered in red top

[2018-10-11 11:30] LinCaster commented on #338
![image](https://user-images.githubusercontent.com/24221977/46801042-136fa700-cd8c-11e8-8725-be7535658a2e.png)
我希望在不改变渲染顺序的情况下同时进行。黑色覆盖在红顶

[2018-10-11 11:31] LinCaster commented on #338
I want to be at the same time without changing the rendering order. Black on top of red

[2018-10-11 11:41] LinCaster commented on #338
@nallias

[2018-10-11 11:59] LinCaster commented on #338
@nallias @caleb531
![image](https://user-images.githubusercontent.com/24221977/46802390-bf66c180-cd8f-11e8-972d-226de823c653.png)
I want to be at  without changing the rendering order. Black covered in red

[2018-10-11 12:52] wschleter commented on #338
I believe you need to use layers to do this (add layer=true), and the index is not an arbitrary value, it is the index into the layers array. Had to use drawLayers to get it to take affect.
Also see moveLayers

$('canvas').drawArc({
  fillStyle: '#000',
  x: 100, y: 100,
  radius: 50,
  layer: true,
});

var abc = $('canvas').drawArc({
  fillStyle: '#f00',
  x: 150, y: 150,
  radius: 50,
  layer:

[2018-10-12 02:03] LinCaster commented on #338
@wschleter  Thank  My problem has been solved

[2018-10-12 02:19] caleb531 commented on #338
Thanks, @nallias and @wschleter, for helping to resolve this issue before I've even had a chance to look at it. The help is very much appreciated. :)

[2018-10-12 02:19] #338 closed

[2018-10-12 18:17] marcoschwartz commented on #337
@caleb531 Thanks for the quick answer! Sure, I basically installed it via NPM, then I import it in my project with:

`import 'jcanvas';`

After, that I tried to create a simple rectangle:

[code]

[2018-10-12 18:19] caleb531 commented on #337
@marcoschwartz Oh! I see your problem. `$.jCanvas` is not actually a function. Use `$()` instead of `$.jCanvas()`:

[code]

[2018-10-12 18:19] #337 closed

[2018-10-12 18:27] marcoschwartz commented on #337
Works now, thx! :)

[2018-10-13 14:25] marcoschwartz opened #339 "Issue when redrawing canvas"
Hello,

We managed to use your excellent library to make basic flowchart - like editor inside our app (the canvas is basically built according to data in our MongoDB database). However, I have a problem whenever I try to add / remove an element when the canvas is already initialised. What I do for example when removing an element is to redraw the whole canvas, but it produces a strange bug. Here i

[2018-10-13 15:42] marcoschwartz commented on #339
I tried more things, especially doing a $('canvas').removeLayers(); before drawing again. That works, but only when not using $('canvas').detectPixelRatio() (I have a retina screen). If I use it, then it produces the weird result from above.

[2018-10-13 17:16] caleb531 commented on #339
@marcoschwartz Well, this is interesting! I have a few questions for you:

1. How often are you calling `detectPixelRatio`, and when?
2. Do you have any other code that scales the canvas?

[2018-10-13 18:17] marcoschwartz commented on #339
1. Just once, after drawing all the different shapes
2. I think I actually found the issue - I did one of those at the start of my code:

[code]

Where width the is inner width of the current window (I want the canvas to be full screen). I think that's a scale operation right? I tried to remove it and indeed it fixes the issue. However now is there a way to make both work together ? :)

[2018-10-13 18:28] caleb531 commented on #339
@marcoschwartz You should be able to make it work, not to worry. Technically, `detectPixelRatio()` was designed to be called only once (to prevent compounded scaling by calling it multiple times), but you can work around that with something like the following code:

[code]

Let me know how that works for you. It may require tweaking in your case to get working just right, but key is setting the ca

[2018-10-18 09:34] marcoschwartz opened #340 "Draw transparent image"
Hello,

I am trying to draw images with a different opacity, I thought the right method was to call a function when the load event is triggered, and then use setPixels(). However, i can't seem to figure out how to pass the position & dimensions of the image for the setPixels function. Also not sure what to pass to setPixels to make the image transparent. Am I missing something? Thanks!

[2018-10-20 17:47] caleb531 commented on #340
@marcoschwartz The `load()`callback accepts an object of the image properties as its only argument. You can use this object to grab the `x`, `y`, `width`, and `height` properties.

Here's an example you can run in the [jCanvas Sandbox](https://projects.calebevans.me/jcanvas/sandbox/). Please let me know if you have any questions.

[code]

[2018-10-21 13:47] marcoschwartz commented on #340
Thanks so much, that works now!

[2018-10-21 13:47] #340 closed

[2018-11-15 03:37] skywalker999u opened #341 "moveLayer cannot move layer to top"
I wish to create a layer for a button to be kept at the top of the canvas all the time.

from the code in moveLayer() at line 999 and 1003,
`layers.splice(index, 0, layer);`
`if (index < 0) { index = layers.length + index; }`
it is impossible to move an existing layer to top using moveLayer().
I can work around it using bringToFront + trigger drag event, but it is not sensible if user interaction

[2018-11-21 18:50] caleb531 commented on #341
Hi @skywalker999u,

You should be able to call `moveLayer()` with the current number of layers. See the example below, which you should run in the [jCanvas Sandbox](https://projects.calebevans.me/jcanvas/sandbox/):

[code]

[2018-11-29 02:52] #341 closed

[2019-01-11 03:10] fatemehfathi opened #342 "jCanvas with Retina Display"
Hello,

Hope you are doing well.

I have a problem with jCanvas quality. I am using MacBook Pro with Retina display. I tried to use detectPixelRatio function but it doesn't work well or maybe I have a problem with using it in the right way.
After calling the detectPixelRatio function, the canvas width and height are changed to something very small.

Thank you for your help in advance.

[2019-01-11 03:13] caleb531 commented on #342
@fatemehfathi Could you please provide your code that's using `detectPixelRatio`? I want to see how and when you are calling it.

[2019-01-11 05:53] fatemehfathi commented on #342
I tried both of these ways:

[code]

[code]

Without the detectPixelRatio function, I use these two lines and it works but as I said the quality isn't good:
[code]

[2019-01-14 21:05] fatemehfathi commented on #342
@caleb531 could you please take a look at my code?

[2019-01-14 21:06] caleb531 commented on #342
@fatemehfathi My apologies—thank you for the reminder. I will get back to you in a few hours when I get off work. ;)

[2019-01-15 01:44] caleb531 commented on #342
@fatemehfathi A few things:

Don't resize the canvas within `detectPixelRatio`—the method is designed to preserve the display size of the canvas while scaling up the coordinate system so everything looks more crisp.

If you are trying to change the size of the canvas on resize, try this example, using a secret from jCanvas internals. By default, `detectPixelRatio` is designed to be only called onc

[2019-01-15 02:34] fatemehfathi commented on #342
Thank you so much for your reply.

I just wanted to resize it because when I use the `detectPixelRatio` the canvas doesn't fit its parent div. It's about 1/4 of that (the "pFrontBody" div in my first code).

[2019-01-15 02:41] caleb531 commented on #342
@fatemehfathi I see. Did my example give you what you needed? Or do you still have a question about how to accomplish your task?

[2019-01-15 02:41] #339 closed

[2019-01-15 02:42] #333 closed

[2019-01-15 02:42] #332 closed

[2019-01-15 02:48] fatemehfathi commented on #342
@caleb531 Actually, I couldn't solve my problem using what you said. I can't find any "data" property for the canvas.

[2019-01-15 02:51] caleb531 commented on #342
@fatemehfathi It's not a `data` property—it's a `data` method, assuming `$myCanvas` is a jQuery object. For example:

[code]

Does that make sense?

[2019-01-15 02:53] fatemehfathi commented on #342
@caleb531 I see. I am using the same thing but it says the data is undefined.

[2019-01-15 03:00] caleb531 commented on #342
@fatemehfathi Oh, that makes sense. You can try calling `saveCanvas` and `restoreCanvas`, either of which will ensure that the object exists before you try to access `scaled`:

[code]

[2019-01-15 03:11] fatemehfathi commented on #342
Thank you. The data function returns the canvas properties now. But unfortunately, nothing's changed. It still has the same problem. It's not possible to increase the width and height of the canvas after calling `detectPixelRatio `.
But that's alright. I will figure it out somehow.
Thanks for your time

[2019-03-01 12:57] a-samy opened #343 "Triggering mouseover event with multi-layers"
I am using jCanvas v21.0.1 with jQuery v3.3.1
when adding a multi-layer canvas and use mouseover method, it works fine with the first layer and the others always be triggered just once.
`$(function () {
    $('canvas').addLayer({
        type: 'image',
        name:'phone',
            source: $('#phone')[0],
            x: 432.3, y: 475.9,
            width: 78, height: 100,
            mouseover

[2019-03-02 04:40] caleb531 commented on #343
@a-samy Hmm, I bet this has to do with some special logic in jCanvas to defer redrawing of successive layers until an image layer has loaded. Try moving the image layer to the end (that is, make it the last layer) and let me know if that resolves the issue.

[2019-03-02 09:20] a-samy commented on #343
When I made image the last layer, the event works fine with the shape and just triggered once with the image, and in my case I have multi-layers of images and I need to have actions on each image, is there any other way to do so with jCanvas?

[2019-03-17 23:17] caleb531 commented on #343
@a-samy My apologies for the late response.

I tried your code in the [jCanvas Sandbox](https://projects.calebevans.me/jcanvas/sandbox/) and can't actually reproduce the issue, strangely.

[code]

But assuming this is definitely a problem for you, your alternative approach is to use a `mousemove` handler instead (which should behave much more consistently, since that uses the native DOM event unde

[2019-04-09 01:02] abid1208 opened #344 "Handles not working properly after the canvas is resized"
![tables](https://user-images.githubusercontent.com/11423616/55766591-c0eb1b00-5a8e-11e9-9e93-fd626ed57684.gif)

I have a canvas, of which I change the properties height and width dynamically. These are not the style height and width but the properties of canvas tag.
The handles stop working correctly after the resizing of the canvas is done. The handles rarely trigger the mouseover event and thus

[2019-04-09 01:45] caleb531 commented on #344
@abid1208 Are you using `detectPixelRatio` at all?

You may be able to use `saveCanvas()` and `restoreCanvas()` to restore the original canvas context after changing the dimensions.

[code]

[2019-04-09 08:58] abid1208 commented on #344
No, I am not using it now. Tried to use it and the results were same. I am setting the canvas dimensions manually through Javascript now.
Thanks I'll try to do what you have suggested

[2019-04-09 09:18] abid1208 commented on #344
So I tried, but unfortunately the behavior is the same. I forgot to mention before; instead of changing the size of canvas, I tried to add HTML `<canvas height="1000" width="1000"></canvas>`
 via .append() function to a div after the size of canvas was calculated. Same issue is being faced there as well

[2019-04-09 10:54] abid1208 commented on #344
So I've identified whats's actually happening. After the canvas is resized, all of the jcanvas layers are not working as expected. The handles and the rectangles as well.
The shapes are being displayed on the correct spot, but all of the mouse-over events are shifted a bit to the right by a percentage. The greater the X value of the center of the rectangle, the greater is the offset of the mouse e

[2019-04-09 12:29] abid1208 commented on #344
`$('canvas')
    .saveCanvas()
    .prop({width: 800, height: 1130})
    .restoreCanvas()
    .drawLayers();

// Add rectangle layer w/o drawing
$('canvas').addLayer({
  type: 'rectangle',
  draggable: true,
  fillStyle: '#fff',
  strokeStyle: '#c33',
  strokeWidth: 2,
  x: 160, y: 150,
  width: 150, height: 80,
  // Define handle properties
  handle: {
    type: 'arc',
    fillStyle: '#fff',

[2019-04-09 16:14] abid1208 commented on #344
Yeah so the issue was, I was setting the width of the canvas larger than its parent Div. I wasn't subtracting the padding of Parent Div while calculating the size of the canvas.
Now it's working great. Thanks for your support and great work on the library. Cheers!

[2019-04-09 16:16] caleb531 commented on #344
@abid1208 Ah, the joys of the CSS box model. ;) Glad you were able to get it working. I will close this issue; if you encounter any further issues, feel free to create a new issue.

[2019-04-09 16:16] #344 closed

[2019-04-28 14:42] MyKevMal opened #345 "Animations are very CPU intensive"
I am using jCanvas v. 21.0.1 Have a Intel Core i5 8th Gen with 1.60 Ghz
Are there any tricks to run animations without affecting the cpu too much? My processor utilization goes up to 35% only when I run 3 easy animations like:

`$('canvas').animateLayerGroup('toolObjects', {
      rotate: '+=1400'
    }, duration);`

It gets worse when the animations repeat. Is it possible to increase the cpu util

[2019-04-29 00:13] caleb531 commented on #345
@MyKevMal How many layers are in your layer group? That will be a major factor in how much processing power this takes. `animateLayerGroup` animates each layer independently (because, well, it has to—if each layer has a different starting `rotate` value, then there's no easy way to coalesce the animation calculations into one).

[2019-05-12 15:33] Roinoss opened #346 "Handle plugin missing basic feature - Text"
I think handle plugin should have option to use text in handle.

[2019-05-12 15:38] Roinoss opened #347 "Handle plugin missing advanced feature - Rotation Handle"
I think handle plugin should have option to use additional handle to rotate content.

[code]

[2019-05-12 20:05] caleb531 commented on #347
@Roinoss I've considered this in the past, and have actually tried to implement this fully—for that, check out the [feature-handles-rotation](https://github.com/caleb531/jcanvas/tree/feature-handles-rotation) branch—but it is challenging to get right. I've since postponed development on that functionality for the time being, but you are welcome to view the code on that branch to use what's there a

[2019-05-12 20:08] caleb531 commented on #346
@Roinoss The handles that jCanvas creates are not designed to be very big (they're really meant for dragging, after all). What text did you envision placing inside of a handle?

[2019-05-13 00:17] Roinoss commented on #346
Anything what app user wants to add. Something like it this link: https://codepen.io/mflorian/pen/aqmvOJ?editors=0010#0 with FabricJS. But after checking somethings, im more sadly: jCanvas isn't a thing that i need as it miss to lot small features. I'll probably just take Fabrics.
Anyway, thanks for answers.
I will miss this lib documentation with sandbox included.

[2019-05-13 00:17] Roinoss commented on #346
-

[2019-05-13 00:17] #346 closed

[2019-05-13 00:17] #347 closed

[2019-05-14 12:56] sarvjeetsingh315 opened #348 "How to add space between the characters in text"
Hello Caleb,
Can you please help me how to add space between the characters in string in canvas? Functionality likewise tracking in MS word.
Thanks

[2019-05-20 03:10] caleb531 commented on #348
@sarvjeetsingh315 There is no way to adjust letter spacing for regular text (only [arc text](https://www.bleepingcomputer.com/news/security/linux-kernel-prior-to-508-vulnerable-to-remote-code-execution/)).

The most you can do is add spaces between each character of the string; jCanvas _will_ preserve any and all additional whitespace you add between characters. For example, try this example in th

[2019-05-20 03:10] #348 closed

[2019-05-20 03:10] #345 closed

[2019-05-20 03:11] #343 closed

[2019-09-09 04:48] longerking commented on #310
Hi，I have the same problem. Have you solved this problem? if so，how did it work out? thank you!

[2019-09-15 01:14] caleb531 commented on #310
@longerking Can you please be more specific about the problem you are having? And can you the code you are using to load in jCanvas?

[2019-10-24 15:50] ing4prg opened #349 "Replacement for a deprecated method: $.jCanvas()"
In a previous version I have used this syntax to predefine a style for multiple drawings:

$.jCanvas();
$.jCanvas({ strokeStyle:color, strokeWidth:1, rounded:true });

Is there another syntax to replace this deprecated method? When draw multiple lines, it is easier to have some styles predefined.

Thanks!

[2019-10-24 16:17] caleb531 commented on #349
@ing4prg My only recommendation would be to use `$.extend`:

[code]

[2019-10-24 16:17] #349 closed

[2019-10-31 08:26] longerking commented on #310
Thank you! @caleb531  I hava solved this problem by adding JQuery to load jCanvas. Now jcanvas does work well.
Thank you!

Here is my vuejs code!
[code]

[2019-11-25 11:22] chandana-iconma commented on #159
I have some issue that i am binding some latlongs using localstorage of IndexDB in ionic,
by that stored latlongs how can i open google maps

[2019-11-25 11:22] chandana-iconma commented on #159
[

[2019-11-29 09:29] 348339749 opened #351 "jcanvas21.0.1 in fireFox(70.0.1 ) removeLayer() and removeLayers() has bug"
jcanvas21.0.1 in fireFox(70.0.1 ) when i use removeLayer() or removeLayers(),i have to move mouse out of canvas, or double click on layer  to delete this layer . this is my code:
$("canvas").drawPolygon({
  fillStyle: "#6c3",
  x: 100, y: 100,
  radius: 50, sides: 5,
  layer:true,
  click:function(layer){
    $("canvas").removeLayer(layer);
  }
});

first click (mousedown,mouseup) nothing change,m

[2019-11-29 17:48] caleb531 commented on #351
@348339749 You must call drawLayers() after calling removeLayer() to redraw the canvas. So your modified example would become:

[code]

The reason your code works when you mouse out of the canvas is because jCanvas automatically redraws the canvas upon mouseout. But in this particular instance, you must redraw the canvas manually after removing the layer.

[2019-11-29 17:49] #351 closed

[2019-11-29 17:50] caleb531 commented on #310
@longerking Thank for for posting your solution! With that, I think this issue can be closed now.

[2019-11-29 17:50] #310 closed

[2019-11-29 20:39] arshmalikrs opened #352 "Rotate Text Alignment"
When text is rotated the then the alignment is automatically set to center again even if it was set to left or right. Drawing the same text multiple times with different align still puts the text on the same spot regardless of the align.

[2019-11-30 00:13] caleb531 commented on #352
@arshmalikrs I am unable to reproduce this behavior, per my attempt below in the [jCanvas Sandbox](https://projects.calebevans.me/jcanvas/sandbox/). Can you please provide a code example that I can test in the Sandbox?

[code]

![Screen Shot 2019-11-29 at 4 11 34 PM](https://user-images.githubusercontent.com/872474/69893210-08931100-12c3-11ea-9aae-21d71fa34a3d.png)

[2019-12-02 14:33] arshmalikrs commented on #352
![canvas](https://user-images.githubusercontent.com/5415976/69967468-779c7f80-14e6-11ea-9617-fa17c9c87c99.jpg)

The canvas on top is what happens when I align text with jcanvas the point which the coordinates specify stay the same whereas with regular JS when the text is aligned it changes the point on the text which the coordinate specify.

[2019-12-02 14:37] arshmalikrs commented on #352
This is the code:
JCanvas:
`$("canvas").drawText({
  x: 100, y: 100,
  align: 'right',
  layer: true,
  name: 'rightText',
  text: 'Test Text',
  fontSize: 30,
  fillStyle: '#000000',
  rotate: 90
});
$("canvas").drawText({
  x: 130, y: 100,
  align: 'left',
  layer: true,
  name: 'leftText',
  text: 'Test Text',
  fontSize: 30,
  fillStyle: '#000000',
  rotate: 90
});
$("canvas").drawText({
  x:

[2019-12-09 11:44] mikedatsko commented on #352
@arshmalikrs could you provide an example with https://stackblitz.com (or https://jsfiddle.net or http://jsbin.com or https://codepen.io or what is your preferred online editor)?

[2019-12-09 15:47] arshmalikrs commented on #352
https://codepen.io/arshmalikrs/pen/eYmJewY here is the example. left canvas is what should happen and right canvas is what happens

[2019-12-09 22:48] mikedatsko commented on #352
@arshmalikrs I added `respectAlign: true` to the text properties and it looks as expected now.
Can you check it, please?
https://projects.calebevans.me/jcanvas/docs/text/#aligning-text-to-a-margin

[2019-12-10 14:23] umairali opened #353 "How to animate the closed: true option line (drawLine)"
I want to animate the line from first point to close point of line i am using below code. Can you please give some example to animate the line.

[code]

[2019-12-10 17:49] #352 closed

[2019-12-11 05:05] umairali commented on #353
i want to draw a line like below image.

![nPUyD](https://user-images.githubusercontent.com/5318005/70593094-3d716300-1bf5-11ea-8d58-d3ccdf3d6a18.gif)

[2019-12-13 04:17] caleb531 commented on #353
@umairali Thanks for your feedback; I always enjoy a good challenge. ;)

See my code example below. There is a `points` array which you can populate to draw the line:

https://projects.calebevans.me/jcanvas/sandbox/

[code]

[2019-12-15 05:23] umairali commented on #353
Thanks @caleb531

If i insert closed : true in below code its joining first and end points after draw the first line points {x: 100, y: 50}

[code]

[2019-12-15 13:45] umairali commented on #353
I remove the closed: true and insert first x and y points in the last of points array and its working.

[code]

[2019-12-16 00:21] caleb531 commented on #353
@umairali `closed: true` has nothing to do with the behavior you are trying to achieve, which is why it wasn't included in the code solution I provided you.

[2019-12-16 04:32] umairali commented on #353
Actually i am drawing a circle graph so i need to close the first and end points.

![Capture](https://user-images.githubusercontent.com/5318005/70879342-61aab680-1fde-11ea-8bc7-7106f4ac09b5.PNG)

[2019-12-31 02:47] caleb531 commented on #353
@umairali What you could do is make sure, in your `points` array, that the last point equals the first point. You could then add some code to call `setLayer({closed: true})` after the last animation finishes (by comparing `i === points.length - 1` or something).

[2019-12-31 02:47] #353 closed

[2020-08-20 02:10] xmcase opened #359 "if use css set canvas to half of it,and then can't drag,how to fixed this?"
<canvas style="background-color:#efefef;" width="600" height="600" id="canvas">

</canvas>

<script type="text/javascript">
  $('#canvas').drawArc({
    layer: true,
    draggable: true,
    fillStyle: '#36c',
    x: 300, y: 300,
    radius: 50,
  });

</script>

code like this, if I set canvas width 300px,height 300px, like this " <canvas style="background-color:#efefef;" width="600" height="600"

[2020-11-30 04:07] LokeshBabuTG opened #360 "Submitting a project to the Gallery"
I would like to submit my project for the Gallery

"Psychro Chart"

This is a psychrometry charter built entirely with jcanvas

[URL](https://lokeshbabutg.github.io/psychroChart)

[2020-12-02 16:56] caleb531 commented on #360
@LokeshBabuTG Thanks for the submission! I've added the chart (which looks pretty cool, BTW) to the Gallery!

https://projects.calebevans.me/jcanvas/gallery/

![Screen Shot 2020-12-02 at 8 56 32 AM](https://user-images.githubusercontent.com/872474/100904861-4bf70100-347c-11eb-80f8-c90369298b3d.png)

[2020-12-02 16:56] #360 closed

[2020-12-02 17:11] LokeshBabuTG commented on #360
Thanks

[2020-12-09 12:35] dekhotoshi opened #361 "Getting Uncaught TypeError: Cannot read property 'text' of undefined"
Hi,

Can anyone help me out with this error?

[code]

[2020-12-11 16:41] caleb531 commented on #361
@dekhotoshi Can you please provide me the  code you are using to call `drawText`?

[2020-12-15 18:39] irvine48 opened #362 "Tainted canvases may not be exported"
May i know any option to include this

crossOrigin: 'anonymous'

[2020-12-15 18:41] #362 closed

[2020-12-15 18:59] caleb531 commented on #362
@irvine48 I imagine you found that a `crossOrigin` option is already supported by jCanvas. See:
https://projects.calebevans.me/jcanvas/docs/properties/#crossorigin

[2021-01-19 02:22] afunworm opened #363 "How to import jCanvas to work with Angular?"
Hi.

Is there a way for this to work with Angular?

I have the canvas set up in the view component. In the script component, I tried importing both jQuery and jCanvas using different methods, for example:

`import * as $ from 'jQuery';
import * as jCanvas from 'jcanvas';`

Then using different way to invoke it. An example would be:

`jCanvas('#canvas')
	.addLayer({
		type: 'image',
		name: 'bg',

[2021-01-19 19:34] caleb531 commented on #363
@afunworm To confirm, are you able to ucalle regular (non-jCanvas) jQuery methods?

[2021-01-20 04:05] afunworm commented on #363
Hi.

I am not sure what you meant. I have tried both `$('#canvas').addLayer()` and `jCanvas('#canvas').addLayer()` but none worked.

Do you have a sample code that you would like me to try?

Thank you!

[2021-01-23 18:31] afunworm commented on #363
Ah. I know what you meant. Yes, I was able to call regular non-jCanvas jQuery methods.

[2021-01-23 22:05] caleb531 commented on #363
@afunworm jCanvas methods exist in the same namespace as regular jQuery methods.

So in the same way that you call a regular jQuery method:

[code]

You call jCanvas methods using `$()` like normal, not `jCanvas()`:

[code]

Notice above how you're only importing `'jcanvas` for side-effects, meaning there's no `jCanvas` object or anything for you to capture into a variable.

[2021-02-07 23:57] afunworm commented on #363
Hi.

Sorry I took a while to respond, but this doesn't seem to work yet. I received the following errors now:

[code]

And I imported it the way shown. I am trying to use this library with Angular, if that helps. If nothing works, I might have to resort to doing the default <script> tag and hope for the best.

Thank you!

[2021-02-09 07:49] flyingatm opened #364 "handle for text type"
hello! thank you for your hard work! this is a nice library, lightweight and really use to use!

I created a meme generator with Jcanvas, all fine but I guess It would be nice if we have text type in handle plugin.

thank you!

[2021-02-10 02:17] caleb531 commented on #363
@afunworm Which JS file are you using in your project? `jcanvas.js` or `jcanvas.min.js`? If the latter, perhaps you need to do this:

[code]

[2021-02-10 02:23] caleb531 commented on #364
@flyingatm Thank you for the feedback! The handles functionality isn't something I plan to build out, but if you could elaborate on what you mean, perhaps I can offer a workaround.

[2021-02-10 09:50] flyingatm commented on #364
Thank you for your fast reply! Ofc!

![Screenshot_20210210_124703](https://user-images.githubusercontent.com/50561288/107493029-31d54f80-6b9e-11eb-9d73-4daaa2f1eb63.png)

I built a meme creator like that with Jcanvas. All I wanna is changing font-size by pulling it like:

![Screenshot_20210210_124905](https://user-images.githubusercontent.com/50561288/107493204-6a752900-6b9e-11eb-930c-eb7378a71e3a

[2021-02-11 07:57] afunworm commented on #363
Hi.

Thank you for your response. Unfortunately, `import 'jcanvas.min'` results in `Can't resolve 'jcanvis.min'`.

I installed it using `npm install` for my Angular project, and did what you suggested:

[code]

But it didn't work. I'm not sure if it is because jCanvas doesn't support module import by default? I doubt it.

Really looking forward to getting this to work :D.

[2021-02-12 15:19] microkof commented on #363
You can try this method:

[code]

It works in Vue Cli project.

[2021-02-12 15:35] microkof opened #365 "How to draw a Bezier in animation?"
I want to draw a Bezier in 1s from right bottom to top left.

init:

[code]

animate:

[code]

But the animation process is not what I want, because cx1/cy1/cx2/cy2 are also involved in animation.

How to write the code?

Thank you!

[2021-02-14 05:33] calebevans-suitecentric commented on #364
@flyingatm I think you could achieve this with a combination of two jCanvas features:

Handle Events: https://projects.calebevans.me/jcanvas/plugins/handles/#events
Drag Groups: https://projects.calebevans.me/jcanvas/docs/draggableLayers/#drag-groups

With these two features:

1. Create your text layer and assign it to a drag group of your choice (see docs above); the font size and position of thi

[2021-02-14 05:35] caleb531 commented on #364
@flyingatm I think you could achieve this with a combination of two jCanvas features:

Handle Events: https://projects.calebevans.me/jcanvas/plugins/handles/#events
Drag Groups: https://projects.calebevans.me/jcanvas/docs/draggableLayers/#drag-groups

With these two features:

1. Create your text layer and assign it to a drag group of your choice (see docs above); the font size and position of thi

[2021-02-14 09:31] afunworm commented on #363
Hi.

I really appreciate your patience. That works perfectly and I am really happy I can move on with the project.

I have 2 more questions:

    - When I use `addLayer({ type: 'image', height: 100, width: 100 })`, is there a way to make it fit to the size of the the given height & width (resize to fit)?
    - Is there a way to draw an image from part of an image (sprite)?

Thank you again for all

[2021-02-14 09:58] microkof commented on #363
First question, the premise of using jcanvas is to set a clear width and height for the canvas. According to the width and height, you can set the width and height of the image for .drawImage(). I don't think this is a problem.

If you mean the ratio of width to height is not appropriate, and you want to maximize the clipping, I don't think you should make such complicated demands on jcanvas. You

[2021-02-18 01:06] caleb531 commented on #365
@microkof That will probably be very challenging to implement, because all of the points would need to animate on the path of your Bezier _as you're drawing the curve_. However, jCanvas (and jQuery) animations can only animate directly from point A to point B (i.e. in a straight line, in this case). Changing the easing won't help, because easing only affects the timing, not direction/position.

In

[2021-02-18 01:06] #365 closed

[2021-02-26 13:55] nico-apps opened #366 "Export Canvas: Excluding certain objects"
I'm using a mix of jCanvas and vanilla JS to create a Whiteboard application. I also want to include rectangles and other shapes, and since I want the application to be as user-friendly as possible, I thought having them draggable would be a good idea. Therefore I decided to include jCanvas into my project. And after fiddling around a bit, I created a script that works pretty well, you can check i

[2021-03-20 23:49] caleb531 commented on #366
@nico-apps It's probably because you are creating the rectangle as a layer (on line 148 in `whiteboardApp.php`):

[code]

Because the rectangle is a layer, when the canvas is redrawn (which can happen automatically when you mousedown/mouseup on the canvas), then that layer gets redrawn as well, and will likely get captured in your image capture of the canvas. You could make the shape no longer a l

[2021-04-25 14:47] nico-apps commented on #366
Hi @caleb531, I'm sorry for answering so late.

Thank you for your help! I chose option 1, and it works greatly. I only have one problem:

As it turns out, I can only change the width and height of the canvas by assigning a specific pixels number (`250 px` for example). Whenever I try to use a percentage (to make it work on mobile devices as well), jCanvas doesn't get the right scope. Here is a gi

[2021-04-26 16:52] nico-apps opened #367 "Handles can't vanish like a layer"
Using the handles API for my Whiteboard application is really great, as it makes the application not as hard to control. Sadly, it doesn't look like you can use them like a layer.
I tried to name it like a layer in order to delete them later on (`name: "handles"`) but only one handle in the top left appears.
I tried using `index: 1` and removing it, but it only removed one button.
After adding mor

[2021-05-16 02:09] caleb531 commented on #367
@nico-apps All handles are in fact layers, and they are stored on the parent layer in a special `_handles` array. For example, if your parent layer is a rectangle and stored in a variable called `myRect`, you can access the handles like so:

[code]

From this point, you can iterate through that array and do whatever:

[code]

[2021-05-16 02:12] caleb531 commented on #366
@nico-apps I recommend you calculate the precise pixel value to use for setting the `width`/`height` using `window.innerWidth` and `window.innerHeight` and such. Using CSS percentages would definitely be too unpredictable. Let JS do the math for you.

[2021-05-16 08:53] nico-apps commented on #366
Thank you @caleb531 ! That helped!

[2021-05-16 08:53] #366 closed

[2021-05-17 08:49] nico-apps commented on #367
Thank you @caleb531 , that worked!

[2021-05-17 08:49] #367 closed

[2021-06-23 10:31] shimbala opened #371 "multi-touch - future"
Hi,

just wondering, do you have any plans to integrate multi-touch function/event?

Cheers, Erik

[2021-06-26 02:38] caleb531 commented on #371
@shimbala Sorry to say, but I do not currently plan to add support for multi-touch. It can get pretty complicated to implement, and I have never decided how I want to approach it (plus, it'd be a ton of work either way).

[2021-06-26 02:38] #371 closed

[2021-06-27 10:09] shimbala commented on #371
@caleb531 Thank you.

I was trying to integrate [this logic](https://konvajs.org/docs/sandbox/Multi-touch_Scale_Stage.html) (touchmove event) on draggable image. I was, let say 95% satisfied.
When scale changed, x and y position were not calculated correctly, so image was "jumpy".

Maybe this is good starting point.

[2022-04-18 05:34] siripravi commented on #364
Hi
Your plugin is working great. Thank you.
I am facing trouble with circular text. The letter spacing is not uniform,
![625cf6d795c86](https://user-images.githubusercontent.com/174201/163759676-0d9a86d3-8f08-4963-ad52-8334679ef0ae.png)
I think this is because of the difference in widths of bounding box's for different characters.
Is there any way that I can customize this behavior?
Please Help me

[2022-04-18 18:39] caleb531 commented on #364
@siripravi The only way I was able to make arc text work in jCanvas is to draw each letter individually. And because I don't have access to the kerning data for the font, each letter must be spaced equidistantly from adjacent letters.

However, you can use the `letterSpacing` property to tighten the spacing. It will still be equal between letters, but at least the text doesn't need to occupy _so_

[2022-04-19 04:57] siripravi commented on #364
Thank your for quick reply.
I would like to use my own algorithm to render circular text as a layer. Is it possible?
If possible, can you please quote an example?
I am interested in using TTF fonts by using
[This library]( https://github.com/opentypejs/opentype.js)

Thank you.